Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix(bot): change back output to. auto-null ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(backend, frontend): move frontend origin env to backend ml-144
  apps/backend/.env.example
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/.env.example
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: env

feat(backend, bot): implement public url sending logic ml-144
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

refactor(backend): clean html template for pdf ml-145
  apps/backend/src/modules/meetings/libs/helpers/create-meeting-pdf.ts
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

revert: revert socket-reserved.type ml-132
  apps/bot/src/libs/modules/socket-client/libs/enums/enums.ts
  apps/bot/src/libs/modules/socket-client/libs/types/socket-reserved-events.type.ts
Labels: none

refactor(backend): replace backend helperes to libs ml-145
  apps/backend/src/libs/helpers/create-pdf.helper.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/libs/helpers/create-meeting-pdf.ts
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat(bot): add public url logs ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: update player-track ml-132
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(backend): move printOptions to constants ml-145
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/pdf-print-options.constant.ts
  apps/backend/src/libs/helpers/create-pdf.helper.ts
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html-template.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
Labels: none

feat(bot): emit public url event before recording ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add share button to meeting cards and move logic to helper ml-208
  apps/frontend/src/assets/img/icons/copy-link.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/share-meeting.helper.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

feat(bot): get public url after connection established ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: quality criteria ml-211
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

feat(bot): start recording after url was received ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: update variables in player-track ml-132
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

feat(bot): make meeitngId a string ml-144
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add meeting card menu ml-211 (#235)
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat(bot): run browser after receiving url ml-144
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(backend): change options name ml-145
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

feat(bot): change chat input selector ml-144
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

fix(backend): get files from main ml-145
  apps/backend/src/modules/meetings/libs/types/find-all-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-by-signed-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
Labels: none

refactor: code cleanup and minor improvements across multiple files ml-59
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/dom-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
  apps/frontend/src/libs/hooks/use-prefers-reduced-motion.ts/use-prefers-reduced-motion.hook.ts
  apps/frontend/src/libs/types/carousel.types.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/constants/constants.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

fix(backend): change export options ml-145
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix(backend): change import path for export options ml-145
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

refactor(backend): change user type in APIHandlerOptions ml-65
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(bot): delete full file write ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix(backend): remove strange include ml-145
  package-lock.json
  packages/shared/tsconfig.json
Labels: root, shared

feat: mobile responsive for meetings details and transcription ml-156
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

fix: error notification when delete meeting ml-258
  apps/frontend/src/modules/meeting/slices/actions.ts
Labels: none

refactor(backend): make file repo universal ml-65
  apps/backend/src/modules/files/file.repository.ts
Labels: none

refactor(backend): delete repeated enum ml-65
  apps/backend/src/db/migrations/20250813153105_add_file_id_to_user_details.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/enums/table-name.enum.ts
Labels: none

refactor(backend): make the fileRepository universal ml-65
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor: changed css styles for buttond and added padding-bottom for meeting-details ml-156
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

refactor: changed name of file ml-208
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/share-meeting-public-url.helper.ts
Labels: none

build: add bot to release-please ml-3
  .release-please-manifest.json
  release-please-config.json
Labels: root

feat: add share button to meeting cards and move logic to helper ml-208 (#255)
  apps/frontend/src/assets/img/icons/copy-link.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/share-meeting-public-url.helper.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

feat(frontend): add redirect variable ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
Labels: none

chore(bot): change template for tests ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: migrate to react-router-hash-link for anchor navigation ml-59
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-scroll-to-hash/use-scroll-to-hash.hook.ts
  apps/frontend/src/pages/landing/landing.tsx
  package-lock.json
Labels: root

refactor(frontend): fix error handling ml-174
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
