Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix: yaml semantic error in meetings.controller.ts ml-86 (#93)
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

feat: implement meeting creation with Redux integration ml-30
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/meeting/libs/enums/enums.ts
  apps/frontend/src/modules/meeting/libs/enums/meeting-api-path.enum.ts
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
Labels: none

feat: create zoom bot messages ml-43
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
Labels: none

feat: add type base config ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/types.ts
Labels: none

feat: add selector get participants ml-43
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat: zoom bot module ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
Labels: none

feat: add export for logger. ml-43
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/logger/logger.ts
  apps/bot/src/libs/types/types.ts
Labels: none

refactor: create init function ml-43
  apps/bot/src/index.ts
Labels: none

refactor: make password optional ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

feat: add zoom password arg to create ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
Labels: none

feat: create user data to init ec2 ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: fix routing structure and meeting creation flow ml-30
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
Labels: shared

fix: accept terms ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: change user data to run bot from build ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: shared ml-43
  apps/backend/test-cloud-formation.ts
  packages/shared/package.json
Labels: shared

refactor: user data start:dev ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: knip config ml-43
  knip.config.ts
Labels: root

fix: .env bot production ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: package file delete script ml-43
  apps/backend/package.json
Labels: none

refactor: delete unused code ml-64 (#87)
  apps/frontend/src/assets/img/react.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor: config module get launch options ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: delete empty import ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

chore: update env.example ml-44
  apps/bot/.env.example
Labels: env

chore: update config ml-29
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat: add audio recorder module ml-29
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add ffmpeg installing in ec2 template ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: update recorder out dir in env.example ml-44
  apps/bot/.env.example
Labels: env

refactor: remove shared-node module ml-45
  apps/backend/package.json
  apps/backend/src/libs/modules/logger/base-logger.module.ts
  apps/backend/src/libs/modules/logger/libs/types/logger.type.ts
  apps/backend/src/libs/modules/logger/libs/types/types.ts
  apps/backend/src/libs/modules/logger/logger.ts
  apps/bot/package.json
  apps/bot/src/libs/modules/logger/base-logger.module.ts
  apps/bot/src/libs/modules/logger/libs/types/logger.type.ts
  apps/bot/src/libs/modules/logger/libs/types/types.ts
  apps/bot/src/libs/modules/logger/logger.ts
  package-lock.json
  package.json
  packages/shared-node/eslint.config.js
  packages/shared-node/lint-staged.config.js
  packages/shared-node/package.json
  packages/shared-node/src/index.ts
  packages/shared-node/src/modules/logger/logger.ts
  packages/shared-node/tsconfig.build.json
  packages/shared-node/tsconfig.json
Labels: root

fix: implement default loading state ml-77
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app-loader/app-loader.tsx
  apps/frontend/src/libs/components/components.ts
Labels: none

feat: add 8-64 password valiation ml-104
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

feat: connecting an audio recorder to a bot via DI ml-44
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
Labels: none

chore: align imports with app conventions ml-77
  apps/frontend/src/libs/components/app-loader/app-loader.tsx
  apps/frontend/src/libs/hooks/hooks.ts
Labels: none

feat: add OpenAI integration ml-45 (#98)
  apps/backend/package.json
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/logger/base-logger.module.ts
  apps/bot/src/libs/modules/logger/libs/types/logger.type.ts
  apps/bot/src/libs/modules/logger/libs/types/types.ts
  apps/bot/src/libs/modules/logger/logger.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/puppeteer.ts
  package-lock.json
Labels: root, env

fix: add open-ai module to index ml-43
  apps/bot/src/index.ts
  knip.config.ts
Labels: root

feat: add max length restriction ml-104
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

feat: add edit user api path ml-56
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: shared

feat: feat add password range validation ml-104 (#109)
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

fix: use error status code if available ml-96
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/constants/constants.ts
Labels: none

refactor: delete custom message ml-96
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/constants/constants.ts
Labels: none

fix: make email validation message more clear ml-100
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
