Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat: add notifications ml-131
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/minutes-in-hour.ts
  packages/shared/src/libs/constants/zero-length.constant .ts
  packages/shared/src/libs/helpers/get-offset-hours/get-offset-hours.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/types/date-format.type.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

fix: remove unnecessary code ml-131
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
Labels: none

fix: remove unnecessary code ml-131
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
Labels: none

fix: change navigation to AppRoute.ANY ml-131
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat(frontend): add stopRecording action ml-160
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(bot/backend/shared): rollback audiorecorder module ml-108
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

refactor(frontend): use HTTPMethod in user api ml-160
  apps/frontend/src/modules/users/users.api.ts
Labels: none

fix(frontend): make content type optional ml-160
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
Labels: none

refactor(frontend): improve some styles and naming of components ml-155
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
Labels: none

refactor(backend): fix first and last names blank fields ml-193
  apps/backend/src/modules/users/user.service.ts
Labels: none

feat: end meeting recording from the frontend ml-160 (#184)
  apps/backend/src/modules/meetings/libs/types/stop-recording-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

refactor(backend): fix update user return prop ml-193
  apps/backend/src/modules/users/user.service.ts
Labels: none

fix: first and last names blank fields ml-193 (#195)
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(bot/backend): correct naming, add async, await, rename socket ml-108
  apps/backend/src/modules/meetings/meeting-transcription.repository.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/socket-client/socket-client.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
Labels: env

feat: add mobile layout to auth pages ml-152 (#177)
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
Labels: none

feat(backend/shared): add sort order enum ml-108
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/meeting-transcription.repository.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/sort-order.enum.ts
Labels: shared

fix(bot): fix example .env file ml-108
  apps/bot/.env.example
Labels: env

chore(frontend): refresh dependencies ml-155
  package-lock.json
Labels: root

feat: add persistant avatar after page refresh ml-65
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/user-details.entity.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
Labels: shared

feat: add avatar to header and meetings ml-65
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

refactor: change name to camelCase ml-65
  apps/backend/src/libs/modules/aws/base-s3.module.ts
Labels: none

refactor: change AVATAR_BUCKET_NAME to BUCKET_NAME ml-65
  apps/backend/.env.example
  apps/backend/src/libs/modules/aws/s3.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/modules/users/user-avatar.service.ts
Labels: env

feat: add layout component mobile responsiveness ml-155 (#181)
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/icons/burger-menu.svg
  apps/frontend/src/assets/img/icons/close-icon.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo-mobile.svg
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/mobile-menu.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/navigation-link.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/navigation/navigation.tsx
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/logo-type.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  package-lock.json
Labels: root

refactor: use more understand names ml-65
  apps/backend/src/modules/files/file.service.ts
Labels: none

refactor(shared): fix first and last names validation rules ml-194
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared

refactor: moved types to a separate file ml-65
  apps/backend/src/libs/plugins/uploads/libs/types/files.type.ts
  apps/backend/src/libs/plugins/uploads/libs/types/types.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor: rename const ml-65
  apps/backend/src/libs/constants/file-upload.constants.ts
Labels: none

refactor: restrict preHandlers to an array ml-65
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
Labels: none

refactor: move user avatar error messages to separate constants file ml-65
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-avatar-error-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor(shared): fix UserValidationRule ml-194
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared

fix: first and last names validation rules ml-194 (#201)
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared

feat(backend/bot): add origin var to env ml-108
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/url-protocol.enum.ts
  apps/bot/src/libs/helpers/convert-http-to-ws.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/socket-client/socket-client.ts
Labels: env

refactor: rename user-avatar.dto.ts to user-avatar-dto.type.ts ml-65
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-avatar.dto.type.ts
Labels: shared

refactor(backend): fix user service update ml-193
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend/bot): fix attributes to camel case, add type ml-108
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/modules/meetings/libs/enums/meeting-transcriptions-attributes.enum.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/types/types.ts
Labels: none

fix: first and last names blank fields ml-193 (#203)
  apps/backend/src/modules/users/user.service.ts
Labels: none

chore(backend): fix rename sTranscriptionDeleted to isTranscriptionDeleted ml-108
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
Labels: none

feat(backend): add method to service get by meeting id ml-108
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
Labels: none

refactor: use enums for table columns ml-65
  apps/backend/.env.example
  apps/backend/src/db/migrations/20250810081202_add_files_table_and_remove_avatar_columns.ts
  apps/backend/src/db/migrations/20250813153105_add_file_id_to_user_details.ts
Labels: env

refactor: rename helper ml-65
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/file-upload.constants.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
Labels: none
