Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat(bot): don't close browser ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): fix protected route token check ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
Labels: none

feat(backend): add validation schema for meeting id ml-222
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/check-is-valid-id/check-is-valid-id.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-get-by-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix(backend): change filename for meeting id validation schema ml-222
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
Labels: shared

refactor: update packages/shared ml-132
  packages/shared/src/libs/enums/content-type.enum.ts
  packages/shared/src/modules/files/libs/enums/file-error-message.enum.ts
  packages/shared/src/modules/files/libs/types/file-request-dto.type.ts
  packages/shared/src/modules/files/libs/types/file-response-dto.type.ts
  packages/shared/src/modules/files/libs/types/file-update-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio-save-dto.type.ts
Labels: shared

refactor: update bot ml-132
  apps/bot/.env.example
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/finalize-options.type.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
  apps/bot/src/libs/modules/s3/libs/types/upload-result.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/libs/enums/enums.ts
Labels: env

refactor: update files module ml-132
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/files.entity.ts
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/types/file-request-properties.type.ts
  apps/backend/src/modules/files/libs/types/file-response-properties.type.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
Labels: none

refactor: update socket in backend ml-132
  apps/backend/src/db/migrations/20250809172112_add_audio_file_id_to_meetings.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
Labels: none

refactor(bot/shared): fix B31 quality criteria ml-237
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/helpers/extract-zoom-meeting-id/extract-zoom-meeting-id.helper.ts
Labels: shared

refactor(frontend): fix B16 quality criteria ml-237
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

refactor(bot/shared): fix B23 quality criteria ml-237
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/timeout.enum.ts
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
Labels: shared

refactor(bot): fix B23 quality criteria ml-237
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
Labels: none

refactor(backend): fix B17 quality criteria ml-237
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

refactor(bot, frontend, backend): make socket hook and bot cleaner ml-161
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  package-lock.json
Labels: root

fix(bot): change record chunk to wav ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor(frontend): fix A2 quality criteria ml-237
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(backend/frontend/shared): fix B38 quality criteria ml-237
  apps/backend/src/modules/meetings/libs/types/find-all-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-by-signed-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/frontend/src/modules/users/libs/default-values/sign-in.default-values.ts
  apps/frontend/src/modules/users/libs/default-values/sign-up.default-values.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/libs/exceptions/auth-error/auth-error.exeption.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/meetings-error/meeting-error.exception.ts
  packages/shared/src/libs/exceptions/meetings-transcription-error/meetings-transcription-error.exception.ts
  packages/shared/src/libs/exceptions/user-error/user-error.exception.ts
  packages/shared/src/libs/helpers/format-date/format-date.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/validate-zoom-link.helper.ts
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-host.enum.ts
Labels: shared

fix: change error code for delete and get meeting ml-222 (#234)
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat(bot): return password enetring logic ml-161
  apps/bot/src/libs/modules/socket-client/enums/enums.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): fix default user auth contants ml-237
  apps/frontend/src/modules/users/libs/constants/constants.ts
  apps/frontend/src/modules/users/libs/constants/user-sign-in-default-values.constant.ts
  apps/frontend/src/modules/users/libs/constants/user-sign-up-default-values.constant.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

refactor(shared): fix auth error file name ml-237
  packages/shared/src/libs/exceptions/auth-error/auth-error.exсeption.ts
  packages/shared/src/libs/exceptions/exceptions.ts
Labels: shared

refactor(bot): return leaveMeeting ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
Labels: none

fix(backend, shared): websocket event typo ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

fix(bot): use propper type assertion ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): add icon label ml-237
  apps/frontend/src/libs/components/input/input.tsx
Labels: none

feat(frontend, shared, backend): send summary and action items with websockets ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/types/types.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/modules/meeting-details/libs/types/types.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/types/meeting-summary-action-points-response-dto.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

refactor: update file & meeting service ml-132
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor: update bot ml-132
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
Labels: none

refactor: update package/shared ml-132
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/extension.enum.ts
Labels: shared

feat(backend): create a draft api for generate meeting pdf ml-145
  apps/backend/package.json
  apps/backend/src/libs/modules/controller/libs/types/api-handler-response.type.ts
  apps/backend/src/modules/meetings/libs/helpers/create-meeting-pdf.ts
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  package-lock.json
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: root, shared

fix: add status check ml-211
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

fix: pull main ml-211
  package-lock.json
Labels: root

fix(shared, frontend): add type to useState ml-161
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/modules/meetings/libs/types/meeting-summary-action-items-response-dto.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
Labels: shared

refactor: unify landing page constants, types, and helpers. improve naming and accessibility ml-59
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/feature-animation.enum.ts
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/libs/helpers/clamp.helper.ts
  apps/frontend/src/libs/helpers/get-rand-in-range.helper.ts
  apps/frontend/src/libs/helpers/get-ring-pairs.helper.ts
  apps/frontend/src/libs/helpers/get-safe-random.helper.ts
  apps/frontend/src/libs/helpers/handle-collisions.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/rand-in-range.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/libs/hooks/use-prefers-reduced-motion.ts/use-prefers-reduced-motion.hook.ts
  apps/frontend/src/libs/types/carousel.types.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/constants/constants.ts
  apps/frontend/src/modules/landing/libs/constants/features.constants.ts
  apps/frontend/src/modules/landing/libs/constants/landing-background.constants.ts
  apps/frontend/src/modules/landing/libs/constants/testimonials.constants.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-cta/landing-cta.tsx
  apps/frontend/src/pages/landing/components/landing-cta/styles.module.css
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/styles.module.css
  apps/frontend/src/pages/landing/landing.tsx
Labels: none

fix(backend): delete preHandler from findAll route ml-231
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

feat: add file controller ml-132
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/files/file.controller.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/types/create-file-options.type.ts
  apps/backend/src/modules/files/libs/types/delete-file-options.type.ts
  apps/backend/src/modules/files/libs/types/find-file-options.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/files/libs/types/update-file-options.type.ts
  apps/backend/src/modules/files/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/files/files.ts
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/file-api-path.enum.ts
  packages/shared/src/modules/files/libs/enums/file-validation-message.enum.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-create.validation-schema.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-update.validation-schema.ts
  packages/shared/src/modules/files/libs/validation-schemas/validation-schemas.ts
Labels: shared

fix: update validation schemas ml-132
  packages/shared/src/modules/files/libs/validation-schemas/file-create.validation-schema.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-update.validation-schema.ts
Labels: shared

refactor: improve hash navigation UX for landing page links ml-59
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-scroll-to-hash/use-scroll-to-hash.hook.ts
  apps/frontend/src/pages/landing/landing.tsx
  package-lock.json
Labels: root

feat: add anchor and email links, update LandingSection enum, improve animation ml-59
  apps/frontend/src/libs/enums/landing-section.enum.ts
  apps/frontend/src/libs/hooks/use-in-view-animation/use-in-view-animation.hook.ts
  apps/frontend/src/modules/landing/libs/constants/company-links.constants.ts
  apps/frontend/src/modules/landing/libs/constants/contact-links.constants.ts
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
Labels: none

feat(frontend): add frontend implementation for meeting PDF download ml-145
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/modules/meeting-details/meeting-details-api.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none
