Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat(backend): implement user error handler in user service ml-56
  apps/backend/src/modules/users/user.service.ts
Labels: none

fix: rollback ml-44
  apps/bot/setup-ec2.sh
Labels: none

ci(frontend, backend, shared): fix pr building issues ml-102
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/shared/package.json
Labels: root, shared

fix: update setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

Revert "ci(frontend, backend, shared): fix pr building issues ml-102"
  apps/backend/package.json
  apps/frontend/package.json
  package.json
  packages/shared/package.json
Labels: root, shared

refactor(backend): fix UserErrorMessage import ml-56
  apps/backend/src/modules/users/libs/enums/enums.ts
Labels: none

refactor: improve debug in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: rollback to 94db48d ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat: implement unified logo with light/dark theme support ml-121
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/logo/meetlytic-icon.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo-dark.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo.svg
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
Labels: none

fix: update sharedArguments in base-config ml-44
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: change way to install chormium in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: use usr/bin to install deps ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: rollback to 6049c6f ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: insall chromium after cd apps/bot ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat: update base-config.module ml-44
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: update setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: fix PulseAudio setup ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat(frontend): create player track ml-62
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/pages/root/root-page.tsx
Labels: none

feat(frontend): add pause and play icons ml-62
  apps/frontend/src/assets/img/icons/pause.svg
  apps/frontend/src/assets/img/icons/play.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: none

fix: change the order in which password status icons are displayed ml-99 (#127)
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

fix: change styles in SignIn an SignUp ml-134
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  package-lock.json
Labels: root

feat: add new variant of button ml-65
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/button-variant.enum.ts
Labels: none

refactor: avatar component ml-65
  apps/frontend/src/libs/components/avatar/avatar.tsx
Labels: none

feat: add user-avatar-uploader component ml-65
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
Labels: none

feat: add backend logic for user avatar feature ml-65
  apps/backend/.env.example
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/avatar/avatar.plugin.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: shared, env

refactor(shared/frontend): fix user notification messages ml-56
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
Labels: shared

refactor(frontend): fix user profile navigation ml-56
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

refactor(backend): fix HTTPcode status and user repository const ml-56
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

fix: change styles in SignIn an SignUp ml-134 (#137)
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  package-lock.json
Labels: root

chore(frontend, shared): move dayjs to shared ml-102
  apps/frontend/package.json
  apps/frontend/src/libs/helpers/helpers.ts
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/format-date/format-date.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: root, shared

feat: devide landing from app routes ml-102
  apps/frontend/src/index.tsx
Labels: none

refactor(frontend): replace key literals with enum ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
Labels: none

refactor(frontend): replace div with button to improve semantics ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

refactor(frontend): remove unused captions track from audio ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

refactor(backend): fix user update controller ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor: refact audio-recording system ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: change the logo of our application ml-121 (#128)
  apps/frontend/index.html
  apps/frontend/public/meetlytic-favicon.svg
  apps/frontend/public/vite.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo-dark.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/libs/enums/logo-theme.enum.ts
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: none

refactor(frontend): use date/time format helper from 102 branch ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/helpers/format-date.ts
  apps/frontend/src/libs/helpers/helpers.ts
  package-lock.json
  package.json
Labels: root

refactor: update setup-ec2.sh with better echo system in pulse audio setup ml-44
  apps/bot/setup-ec2.sh
Labels: none

refactor(backend/frontend): fix UserWithDetailsDto sructure ml-56
  apps/backend/src/modules/users/user.service.ts
  apps/frontend/src/pages/profile/profile.tsx
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
Labels: shared
