Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat(frontend): limite width of main container ml-245
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

feat: add file module ml-132
  apps/frontend/src/modules/file/file-api.ts
  apps/frontend/src/modules/file/file.ts
  apps/frontend/src/modules/file/libs/enums/enums.ts
  apps/frontend/src/modules/file/libs/types/types.ts
  apps/frontend/src/modules/file/slices/actions.ts
  apps/frontend/src/modules/file/slices/file.slice.ts
  apps/frontend/src/modules/file/slices/file.ts
Labels: none

feat: add useFileUrl hook ml-132
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-file-url/use-file-url.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix(bot): add overlap 3 sec to record chunk ml-232
  apps/bot/cpu-monitor.log
  apps/bot/setup-ec2.sh
  apps/bot/src/cpu-monitor.ts
  apps/bot/src/index.ts
  apps/bot/src/libs/enums/timeout.enum.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  package-lock.json
Labels: root

fix(bot): typos in zoomm bot ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): show stop recording only for authorized users ml-161
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat(frontend): limite width of main container ml-245 (#248)
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

feat(bot): remove type assertion ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): add list styles ml-161
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

fix: quality criteria cycle 1 ml-237 (#242)
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/modules/meetings/libs/types/find-all-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-by-signed-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/timeout.enum.ts
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
  apps/frontend/src/modules/users/libs/constants/constants.ts
  apps/frontend/src/modules/users/libs/constants/user-sign-in-default-values.constant.ts
  apps/frontend/src/modules/users/libs/constants/user-sign-up-default-values.constant.ts
  apps/frontend/src/modules/users/libs/default-values/sign-in.default-values.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/libs/exceptions/auth-error/auth-error.exсeption.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/meetings-error/meeting-error.exception.ts
  packages/shared/src/libs/exceptions/meetings-transcription-error/meetings-transcription-error.exception.ts
  packages/shared/src/libs/exceptions/user-error/user-error.exception.ts
  packages/shared/src/libs/helpers/extract-zoom-meeting-id/extract-zoom-meeting-id.helper.ts
  packages/shared/src/libs/helpers/format-date/format-date.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/validate-zoom-link.helper.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-host.enum.ts
Labels: shared

feat: add audioFile field into meeting object ml-132
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/modules/files/file.controller.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/types/create-file-options.type.ts
  apps/backend/src/modules/files/libs/types/delete-file-options.type.ts
  apps/backend/src/modules/files/libs/types/find-file-options.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/files/libs/types/update-file-options.type.ts
  apps/backend/src/modules/files/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-file-url/use-file-url.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/file/file-api.ts
  apps/frontend/src/modules/file/file.ts
  apps/frontend/src/modules/file/libs/enums/enums.ts
  apps/frontend/src/modules/file/libs/types/types.ts
  apps/frontend/src/modules/file/slices/actions.ts
  apps/frontend/src/modules/file/slices/file.slice.ts
  apps/frontend/src/modules/file/slices/file.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/files/files.ts
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/file-api-path.enum.ts
  packages/shared/src/modules/files/libs/enums/file-validation-message.enum.ts
  packages/shared/src/modules/files/libs/types/file-public-dto.type.ts
  packages/shared/src/modules/files/libs/types/types.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-create.validation-schema.ts
  packages/shared/src/modules/files/libs/validation-schemas/file-update.validation-schema.ts
  packages/shared/src/modules/files/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
Labels: shared

feat: add url into playerTrack ml-132
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(bot): move keys enum from socket client ml-161
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/socket-client/enums/enums.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): remove meeting update listener ml-161
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
Labels: none

feat(frontend): add rejected payload type ml-174
  apps/frontend/src/libs/types/reject-payload.type.ts
  apps/frontend/src/libs/types/types.ts
Labels: none

feat(frontend): add action status check ml-174
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/users/slices/actions.ts
Labels: none

feat(frontend): remove element selectors ml-161
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

fix(bot): remove full google chrome instalation ml-161
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "fix(bot): remove full google chrome instalation ml-161"
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(bot): remove redundant variable ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: fix audio recording in base-zoom-bot ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(backend): change branch to main ml-161
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: update setup-ec2 ml-132
  apps/bot/setup-ec2.sh
Labels: none

fix: update setuping env vars in setup-ec2 ml-132
  apps/bot/setup-ec2.sh
Labels: none

fix(bot): audio recorder make chunk segment ml-232
  apps/bot/cpu-monitor.log
  apps/bot/package.json
  apps/bot/setup-ec2.sh
  apps/bot/src/cpu-monitor.ts
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  package-lock.json
Labels: root

refactor(backend): delete unused code ml-231
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

feat(bot): add full audio recording ml-232
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-file-type.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/file-extension.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/watcher-event.enum.ts
Labels: none

feat: feat bot lifecycle ml-161 (#226)
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/libs/types/open-ai.type.ts
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/enums/enums.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/modules/meeting-details/libs/types/types.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-namespace.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-summary-action-items-response-dto.ts
  packages/shared/src/modules/meetings/libs/types/meeting-update-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-update.validation-schema.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: root, shared

fix: invalid or expired token check ml-174 (#241)
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/libs/types/reject-payload.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/users/slices/actions.ts
Labels: none

chore(bot): delete unused var ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/enums/timeout.enum.ts
Labels: none

fix: implement PreHandler in addRoute method ml-231 (#247)
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: remove ruin line ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(bot): correct logic when read file ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor(frontend): fix copy public meeting link ml-244
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat(backend): fill in the PDF template with data ml-145
  apps/backend/src/modules/meetings/libs/helpers/create-meeting-pdf.ts
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html.ts
  apps/backend/src/modules/meetings/libs/types/create-pdf-options.type.ts
  apps/backend/src/modules/meetings/libs/types/export-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/tsconfig.json
Labels: shared

feat: update audio recording logic in base-zoom ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): fix textarea visibility ml-244
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: copy public meeting link ml-244 (#252)
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat(backend): add validation schema and swagger description ml-145
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

refactor(frontend): fix invalid token check ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
Labels: none
