Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

chore(bot): revert change template for tests ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(frontend, bot): use only shared url from backend ml-144
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/frontend/src/libs/helpers/share-meeting-public-url.helper.ts
  package-lock.json
Labels: root

feat(bot): change bots message ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: invalid or expired token check ml-174 (#254)
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
Labels: none

docs: add missing table in db schema in reamde.md ml-246
  readme.md
Labels: root

feat: mobile responsive for meetings details and transcription ml-156 (#259)
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

docs: add missing table in db schema in reamde.md ml-246 (#264)
  readme.md
Labels: root

refactor(backend): add ContentType.PDF ml-145
  packages/shared/src/libs/enums/content-type.enum.ts
Labels: shared

fix: fix audio chunking logic to avoid missing words ml-232 (#251)
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/package.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-file-type.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/watcher-event.enum.ts
  package-lock.json
Labels: root

feat(backend/shared): add route for public transcription ml-244
  apps/backend/src/libs/constants/white-routes.constant.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

feat(backend): add backend method to get public transcription ml-244
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat(frontend): add frontend actions to get public transcription ml-244
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/modules/transcription/slices/actions.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/modules/transcription/slices/transcription.ts
  apps/frontend/src/modules/transcription/transcription-api.ts
Labels: none

refactor(backend): remove unnecessary info ml-145
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html-template.ts
  apps/backend/src/modules/meetings/libs/types/create-pdf-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(backend): rename export to exportToPDF ml-145
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(backend): add id istead meetingId ml-145
  apps/backend/src/modules/meetings/libs/templates/get-meeting-html-template.ts
  apps/backend/src/modules/meetings/libs/types/create-pdf-options.type.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(backend): improve the code ml-145
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(frontend): fix get transcription ml-244
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

fix(bot): bot leave meeting ml-265
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(bot): add log that bot left ml-265
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: bot unable to select the leave button ml-265 (#269)
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add the ability to receive transcriptions publicly ml-244 (#267)
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/modules/transcription/slices/actions.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/modules/transcription/slices/transcription.ts
  apps/frontend/src/modules/transcription/transcription-api.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

feat(frontend): create draft PDF downloading on frontend ml-145
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

refactor(frontend): create type MeetingPdfProperties ml-145
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

refactor(frontend): improve meeting-pdf component ml-145
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
Labels: none

refactor(frontend): improve exports ml-145
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

chore: refresh dependencies ml-145
  package-lock.json
Labels: root

refactor(frontend): improve code ml-145
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(frontend): improve code ml-145
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor: changed names, moved helpers ml-59
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/enums/contact-info.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/landing-section.enum.ts
  apps/frontend/src/libs/helpers/get-random-in-range.helper.ts
  apps/frontend/src/libs/helpers/get-safe-random-value.helper.ts
  apps/frontend/src/libs/helpers/get-safe-random.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/modules/landing/libs/helpers/clamp.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/get-ring-pairs.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/handle-bounds.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/handle-collisions.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/helpers.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
  apps/frontend/src/modules/landing/libs/types/landing-background.type.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-background/styles.module.css
Labels: none

feat: export meeting transcription on front ml-145 (#271)
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

fix: notification during failed sign in ml-85
  apps/frontend/src/modules/auth/slices/actions.ts
  package-lock.json
Labels: root

refactor: extract repetitive calculations into a single variable ml-59
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
Labels: none

refactor(backend): delete duplicated file.repository and file.service ml-65
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/types/file.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor(backend): change boolean value to match the code quality criteria ml-65
  packages/shared/src/modules/users/libs/types/user-avatar.dto.type.ts
Labels: shared

refactor(backend): create a separate type for avatarFile ml-65
  packages/shared/src/modules/users/libs/types/file-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
Labels: shared

feat: add bg for meeting cards ml-207
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/placeholder-colors.enum.ts
  apps/frontend/src/libs/helpers/create-seeded-random.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/meeting/libs/helpers/generate-placeholder-svg.helper.ts
  apps/frontend/src/modules/meeting/libs/helpers/helpers.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

refactor(backend): make avatar in redux as part of user ml-65
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/user-avatar.thunks.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/modules/users/libs/types/file-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
Labels: shared

refactor: changed width of item ml-207
  apps/frontend/src/modules/meeting/libs/helpers/generate-placeholder-svg.helper.ts
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

refactor(backend): delete unused variable ml-65
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
Labels: none

refactor(frontend): delete unused code ml-65
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none
