Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix(frontend): put a new card on the begining ml-329 (#352)
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
Labels: none

fix(bot): move init after browser init ml-353
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(bot): move init after browser init ml-353 (#354)
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: move emitting get public url in base-zoom-bot ml-356
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add some logs for the test ml-282
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: remove example message ml-356
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: remove test logs ml-356
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: bot not sending public link in chat ml-356 (#360)
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(bot): for test change template branch to 305 ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): add requirement to start with a title ml-364
  apps/bot/src/libs/constants/open-ai.constants.ts
  package-lock.json
Labels: root

fix(bot): add swap file 4 gb, add launch options ml-305
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix(bot): add swap file 4 gb, add launch options ml-305 (#366)
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix(frontend): lint errors ml-308
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

fix: update header.tsx ml-363
  apps/frontend/src/libs/components/header/header.tsx
Labels: none

Revert "fix(bot): add swap file 4 gb, add launch options ml-305"
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

Revert "Merge branch 'main' into 305-fix-revert-last-chenges"
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: revert last chenges ml-305 (#368)
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix(bot): add swap file 4 gb, add launch options ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix: update header.tsx ml-363 (#369)
  apps/frontend/src/libs/components/header/header.tsx
Labels: none

fix(bot): add swap 4 gb ml-305
  apps/bot/setup-ec2.sh
Labels: none

fix(bot): add 20 gb storage to server ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix(bot): add launch options ml-305
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix(bot): add pulse audio disallow-exit and shm ml-305
  apps/bot/setup-ec2.sh
Labels: none

fix: removed searchbar ml-350
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/search-bar/libs/constants/constants.ts
  apps/frontend/src/libs/components/search-bar/search-bar.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/search-input-validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix(frontend): fix inconsistent header hierarchy for PDF ml-364
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/get-heading-style.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/heading-level-primary.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/heading-level.enum.ts
Labels: none

feat(frontend): change heading size ml-364
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
Labels: none

fix: signup-mobile-firefpx ml-374
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: none

fix(bot): add disable exit and shm ml-305
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: add swap file 4gb and optimize puppeteer launch options ml-305 (#370)
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: removed searchbar ml-350 (#372)
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/search-bar/libs/constants/constants.ts
  apps/frontend/src/libs/components/search-bar/search-bar.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/search-input-validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix: repaire pdf titles ml-364 (#373)
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/get-heading-style.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/heading-level-primary.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/heading-level.enum.ts
  package-lock.json
Labels: root

fix: signup-mobile-firefpx ml-374 (#375)
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: none

fix(frontend): no animation if inactive tab ml-357
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

fix(frontend): refactor auto scroll add style ml-357
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/hooks/use-auto-scroll/use-auto-scroll.ts
Labels: none

fix(frontend): change meeting status render ml-357
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/constants/type-speed.constant.ts
Labels: none

fix: transcription animation not working ml-357 (#377)
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/constants/type-speed.constant.ts
  apps/frontend/src/libs/hooks/use-auto-scroll/use-auto-scroll.ts
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

feat: add mobile responsive for meeting status badge ml-282
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
Labels: none

fix(frontend): add object-fit: cover to avatar to prevent stretching ml-371
  apps/frontend/src/libs/components/avatar/styles.module.css
Labels: none

fix(frontend): merged updateProfile payload with existing user data ml-371
  apps/frontend/src/modules/users/slices/users.slice.ts
Labels: none

feat: add mobile responsive for meeting status indicator ml-282 (#379)
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
