Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat: get list of all meetings and push a new one to that list ml-30
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
Labels: none

refactor: remove unnecessary rejectWithValue from meeting actions ml-30
  apps/frontend/src/modules/meeting/slices/actions.ts
Labels: none

feat: remove instanceId from frontend meeting creation flow ml-30
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
Labels: shared

feat: pass meet id and pass to ec2 ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

feat: add user data to template ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: add variables to env ml-43
  apps/backend/.env.example
Labels: env

feat: add base S3 integration modules ml-65
  apps/backend/.env.example
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  apps/backend/src/libs/modules/aws/s3.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/avatar/avatar.plugin.ts
Labels: env

chore: update dependencies ml-65
  package-lock.json
  package.json
Labels: root

feat: create constants ml-43
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

feat: create enums ml-43
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat: create helper delay ml-43
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

feat: add variables to config ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/config/libs/types/types.ts
Labels: none

feat: create zoom bot module ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
Labels: none

refactor: rename to index ml-43
  apps/bot/package.json
  apps/bot/src/index.ts
  apps/bot/src/puppeteer.ts
Labels: none

chore: uncomment open ia ml-43
  apps/bot/src/index.ts
Labels: none

fix(frontend): implement password visibility toggle ml-99
  apps/frontend/src/assets/img/icons/hide-password.svg
  apps/frontend/src/assets/img/icons/show-password.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/input-password.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

chore: delete open ia from index ml-43
  apps/bot/src/index.ts
Labels: none

feat: implement server-side owner assignment for meeting creation ml-30
  apps/backend/src/modules/meetings/libs/types/create-meeting-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

feat: add first and last name validation in signup form ml-105
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

fix: add status code if exist ml-96 (#111)
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

refactor: change zoomPassword to meetingPassword ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

fix: enum parameter key to meeting password ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
Labels: none

feat: add edit user validation schema and UserUpdateResponseDto ml-56
  apps/backend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-update-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor: fix user methods with UserUpdateResponseDto ml-56
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(frontend): add handler for changing icon name ml-99
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password.enum.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

feat: add user slice actions to store ml-56
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/modules/users/users.ts
Labels: none

feat: update edit profile page ml-56
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/pages/profile/components/components.ts
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
  apps/frontend/src/pages/profile/profile.tsx
  apps/frontend/src/pages/profile/styles.module.css
Labels: none

refactor(frontend): change handler name ml-99
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

feat: create build query parameters helper ml-43
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

refactor: use bulder query for password ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: implement password visibility toggle ml-99 (#118)
  apps/frontend/src/assets/img/icons/hide-password.svg
  apps/frontend/src/assets/img/icons/show-password.svg
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/libs/types/input-password.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

fix: change if statment ml-43
  apps/bot/src/index.ts
Labels: none

fix: resolve meeting creation database constraint issues ml-30
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
  apps/backend/src/modules/meetings/libs/types/create-meeting-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

fix: update zoom-bot ml-44
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: move user initialization logic to App ml-77
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app-loader/app-loader.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/root/root.tsx
Labels: none

feat: add open ia var to template .env ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

refactor: fix user profile endpoint ml-56
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/modules/users/users.api.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: shared

refactor: fix isLoading ml-56
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

fix: linter error ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

docs: add sign up 422 error ml-78 (#114)
  apps/backend/src/modules/auth/auth.controller.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared
