Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(backend): add AvatarFileDto type ml-65
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend): change variable name ml-65
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(backend): create additional type for avatar deleted result ml-65
  apps/backend/src/libs/types/types.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-avatar.dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

fix: error message deleting meeting ml-258 (#260)
  apps/frontend/src/modules/meeting/slices/actions.ts
Labels: none

refactor(backend): delete helper ml-65
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/libs/utils/file-size.utility.ts
  apps/backend/src/libs/utils/utilities.ts
  apps/backend/src/modules/files/files.service.ts
Labels: none

refactor: replace generated SVG with static placeholders selected by meeting id ml-207
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-1.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-2.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-3.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-4.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-5.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholders.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/placeholder-colors.enum.ts
  apps/frontend/src/libs/helpers/create-seeded-random.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/meeting/libs/helpers/generate-placeholder-svg.helper.ts
  apps/frontend/src/modules/meeting/libs/helpers/helpers.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

refactor(backend): delete repeated variable ml-65
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
Labels: none

refactor(backend): move DefaultMaxFileSize to enum folder ml-65
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/file-upload.constants.ts
  apps/backend/src/libs/enums/default-max-file-size.enum.ts
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

refactor: changed styles and changed names of img ml-207
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-blue.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-green.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-orange.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-purple.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-teal.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholders.ts
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

refactor(backend): move S3ErrorMessage to shared and create separate Error ml-65
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/s3-error/s3-error.exception.ts
  packages/shared/src/modules/aws/aws.ts
  packages/shared/src/modules/aws/libs/enums/enums.ts
  packages/shared/src/modules/aws/libs/enums/s3-error-message.enum.ts
Labels: shared

refactor: changed names and update link logic ml-59
  apps/frontend/src/libs/helpers/clamp.helper.ts
  apps/frontend/src/libs/helpers/get-random-in-range.helper.ts
  apps/frontend/src/libs/helpers/get-safe-random-value.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/helpers/get-ring-pairs.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/handle-bounds.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/handle-collisions.helper.ts
  apps/frontend/src/modules/landing/libs/helpers/helpers.ts
Labels: none

refactor: moved placeholders.ts to meetings folder ml-207
  apps/frontend/src/assets/img/meetings/placeholders/placeholders.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/placeholders.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

refactor(backend): change upload.plugin ml-65
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/libs/types/fastify.d.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/files/files.ts
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/file-error-message.enum.ts
  packages/shared/src/modules/files/libs/enums/upload-error-message-enum.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
Labels: shared

refactor(backend): delete unused error message ml-65
  packages/shared/src/modules/files/libs/enums/upload-error-message-enum.ts
Labels: shared

feat: add bg for meeting cards ml-207 (#276)
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-blue.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-green.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-orange.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-purple.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-teal.svg
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/placeholders.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

fix: notification during failed sign in ml-85 (#273)
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: none

refactor: add Link component ml-59
  apps/frontend/src/libs/components/link/link.tsx
Labels: none

refactor: changed Link to NavLink ml-59
  apps/frontend/src/libs/components/link/link.tsx
Labels: none

refactor(backend): change getOrCreateDetailsId method into getDetailsId method ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  package.json
Labels: root

fix(backend): install additional dependencies ml-65
  package-lock.json
Labels: root

feat(bot): add extra clicks ml-144
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

chore(backend): update env and package lock ml-144
  apps/backend/.env.example
  package-lock.json
Labels: root, env

fix(bot): return full audiao recording to bot initialization ml-144
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(bot): move messages to enum ml-144
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): create hook to fetch transcription ml-243
  apps/frontend/src/libs/hooks/use-fetch-transcription/use-fetch-transcription.hook.ts
Labels: none

refactor(frontend): create auto scroll hook ml-243
  apps/frontend/src/libs/hooks/use-auto-scroll/use-auto-scroll.ts
Labels: none

refactor(frontend): create reusable socket hook ml-243
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
Labels: none

feat(frontend): create hook typing animation ml-243
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

feat(frontend): create indicator component ml-243
  apps/frontend/src/libs/components/typing-indicator/libs/enums/enums.ts
  apps/frontend/src/libs/components/typing-indicator/libs/enums/indicator-variant.enum.ts
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.module.css
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.tsx
  apps/frontend/src/libs/constants/type-speed.constant.ts
Labels: none

feat(frontend): create live transcription component ml-243
  apps/frontend/src/libs/components/transcription-panel/components/live-transcription/live-transcription.tsx
Labels: none

refactor(frontend): refactor transcription panel component ml-243
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

refactor(frontend): move logic to transcription panel ml-243
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/transcription-panel/components/live-transcription/live-transcription.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(backend): delete memo ml-243
  apps/frontend/src/libs/components/transcription-panel/components/live-transcription/live-transcription.tsx
Labels: none

refactor: removed className ml-59
  apps/frontend/src/libs/components/link/link.tsx
Labels: none

fix(frontend): fix function names ml-243
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

fix(frontend): fix styles, imports ml-243
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.module.css
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.tsx
Labels: none

fix(frontend): fix indicator dot ml-243
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.module.css
Labels: none

feat(frontend): add clearMeetingDetails action ml-274
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

fix(frontend): add clearTranscription action ml-274
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat: add meeting card naming ml-206
  apps/backend/src/db/migrations/20250822025301_add_meetings_title.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
