Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

refactor: inject s3Instance via constructor ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

fix(backend): delete meeting from bd if cloudFormation failed ml-175
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat(frontend): responsive header, 100vh for hero, + useMediaQuery hook ml-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/breakpoint.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-media-query/use-media-query.ts
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
Labels: none

fix: update enter login & password step ml-205
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/enums/keyboard-key.enum.ts
Labels: shared

fix(backend): add exception for non unique zoom link ml-175
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

fix: rollback go to sign in step ml-205
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(backend, shared): make all meeting update fields optional ml-161
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-update.validation-schema.ts
Labels: shared

feat(bot): change stop recording bot logs ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): revert CONFIRM_LEAVE selector ml-161
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

refactor(backend): change message for error ml-175
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

refactor(frontend): rename visible-on- classes ml-154
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

refactor(backend): change variable name ml-175
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat: add responsive styles for Hero section on mobile ml-59
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
Labels: none

fix: creating duplicate meeting after cloudFormation error ml-175 (#224)
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

refactor(backend): change no-internet code variable name ml-173
  apps/frontend/src/libs/modules/api/base-http-api.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: shared

feat(bot): add getOrigin to socket module ml-161
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
Labels: none

refactor: reuse DomEvent enum for media query event, minor collision handling cleanup ml-59
  apps/frontend/src/libs/enums/dom-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/landing-anchor.enum.ts
  apps/frontend/src/libs/enums/landing-section.enum.ts
  apps/frontend/src/libs/helpers/handle-collisions.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/rand-in-range.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/helpers/safe-random.helper.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/libs/hooks/use-media-query/use-media-query.ts
  apps/frontend/src/modules/landing/libs/constants/company-links.constants.ts
  apps/frontend/src/modules/landing/libs/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

fix: no internet toast notification ml-173 (#204)
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  packages/shared/src/libs/enums/server-error-type.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: shared

refactor: use camelCase and fix migration ml-65
  apps/backend/src/db/migrations/20250813153105_add_file_id_to_user_details.ts
  apps/backend/src/db/migrations/20250816222524_rename_file_id_to_avatar_file_id_in_user_details.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/libs/enums/column-name.enum.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user-details.model.ts
Labels: none

refactor(backend, bot): use SocketEvent.JOIN_ROOM ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: implement mobile responsiveness for meetings page ml-154 (#210)
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

feat(frontend): add logout case for user slice ml-192
  apps/frontend/src/modules/users/slices/users.slice.ts
Labels: none

feat(frontend): add profile token check ml-192
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

refactor: make user optional and use type casting in user.controller.ts ml-65
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

fix(frontend/backend): fix bugs ml-180
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/libs/modules/socket/base-socket.module.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
Labels: none

refactor(frontend): fix the token retrieval call ml-192
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

fix(backend/frontend): delete pre handler fix typo ml-180
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

fix: profile page cycle of invalid credentials ml-192 (#227)
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

fix(backend): validate meeting id and add error message ml-154
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat(backend): add helper isPositiveNumber ml-154
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/is-positive-number/is-positive-number.ts
Labels: shared

fix(backend): add meeting id validation for find meeting ml-154
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

fix(backend): remove map and redundant logic ml-180
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/constants/constants.ts
  apps/backend/src/libs/modules/socket/libs/constants/empty-room-size.constant.ts
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
Labels: none

feat(frontend): set proper action items direction ml-161
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

feat(backend, bot, shared): use stopRecording instead of RecordingStopped ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

fix(backend): add validation error swagger description for find ml-154
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix(frontend): one line trancription ml-180
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/constants/constants.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/array.constants.ts
  packages/shared/src/libs/constants/constants.ts
Labels: shared

feat(frontend): return "Stop Recording" button ml-161
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

refactor: add HashLink for links ml-59
  apps/frontend/package.json
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  package-lock.json
Labels: root

refactor: remove smooth from type ml-59
  apps/frontend/src/libs/components/link/link.tsx
Labels: none

feat(backend, shared, bot): revert RECORDING_STOPPED ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared
