Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat: logout ml-53 (#70)
  apps/frontend/src/assets/img/icons/logout.svg
  apps/frontend/src/assets/img/icons/placeholder-avatar.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-logout/use-logout.hook.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: none

refactor: delete onBlur in the sign in form ml-85
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: none

fix: yaml error in meetings.controller.ts ml-86
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: add user to map-request ml-88 (#89)
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

chore: add tsx to dev dep bot package ml-43
  apps/backend/package.json
  package-lock.json
Labels: root

fix: refactor bot start script ml-43
  apps/bot/package.json
  apps/bot/src/index.ts
  knip.config.ts
  packages/shared/package.json
Labels: root, shared

feat: add build:shared script in bot ml-43
  apps/bot/package.json
Labels: none

refactor: useAppForm for MeetingForm, move default values ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/meeting-form/libs/create-meeting-form.default-values.ts
  apps/frontend/src/libs/components/meeting-form/libs/meeting-form.default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/hooks/hooks.ts
Labels: none

refactor: unify meeting creation types ml-30
  apps/frontend/src/libs/components/meeting-form/libs/create-meeting-form.default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/modules/api/create-meeting-api.ts
  apps/frontend/src/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/types/create-meeting-request-dto.type.ts
  packages/shared/src/libs/types/types.ts
Labels: shared

refactor: explicitly import React.FC ml-30
  apps/frontend/src/libs/components/modal/modal.tsx
Labels: none

feat: implement meeting creation API with form validation and add root-page ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/modules/api/api.ts
  apps/frontend/src/libs/modules/api/create-meeting-api.ts
  apps/frontend/src/modules/meeting/libs/enums/enums.ts
  apps/frontend/src/modules/meeting/libs/enums/meeting-api-path.enum.ts
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/pages/root/root-page.tsx
  apps/frontend/src/pages/root/styles.module.css
Labels: none

feat: add new fields into meeting entity ml-29
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: shared

fix: add new migration for meetings table ml-29
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
  apps/backend/src/db/migrations/20240127205707_add_meeting_id_and_password_to_meetings.ts
Labels: none

feat: add whisper key ml-45
  apps/bot/.env.example
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: env

feat: rename to open ai key ml-45
  apps/bot/.env.example
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: env

feat: add accept cookies ml-43
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: install open ai sdk ml-45
  apps/bot/package.json
  package-lock.json
Labels: root

fix: change key data type ml-45
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: add open ai module ml-45
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
Labels: none

refactor: move logger to shared ml-45
  apps/backend/package.json
  apps/backend/src/libs/modules/logger/logger.ts
  package-lock.json
  package.json
  packages/shared/src/index.ts
  packages/shared/src/modules/logger/base-logger.module.ts
  packages/shared/src/modules/logger/libs/types/logger.type.ts
  packages/shared/src/modules/logger/libs/types/types.ts
  packages/shared/src/modules/logger/logger.ts
Labels: root, shared

feat: add logger to open ai module ml-45
  apps/bot/src/libs/modules/logger/logger.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
Labels: none

refactor: add dummy usage of openai module ml-45
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/puppeteer.ts
Labels: none

feat: install fastify-type-provider-zod and add to iniApp ml-74
  apps/backend/package.json
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  package-lock.json
Labels: root

fix: remove custom validation compiler ml-74
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

fix: remove custom validation from mapHandler ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix: remove custom validation from mapHandler ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix: remove the extra variable from mapHandler ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

feat: extend the validation schema to all accepted parameters ml-74
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
Labels: none

feat: add new fields to meeting entity ml-29 (#95)
  apps/backend/src/db/migrations/20240127205707_add_meeting_id_and_password_to_meetings.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: shared

refactor(frontend): delete user.slice and corresponding types ml-64
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor: move model to env ml-45
  apps/bot/.env.example
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
Labels: env

refactor: initialize sdk in base module ml-45
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
Labels: none

docs: add todo comment ml-45
  apps/bot/src/puppeteer.ts
Labels: none

refactor: move pino to shared package.json ml-45
  package-lock.json
  package.json
  packages/shared/package.json
Labels: root, shared

fix: update toaster message to be more user-friendly ml-85 (#92)
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: none

refactor: move logger to its own package ml-45
  apps/backend/package.json
  apps/backend/src/libs/modules/logger/logger.ts
  apps/bot/package.json
  apps/bot/src/libs/modules/logger/logger.ts
  package-lock.json
  package.json
  packages/shared-node/eslint.config.js
  packages/shared-node/lint-staged.config.js
  packages/shared-node/package.json
  packages/shared-node/src/index.ts
  packages/shared-node/src/modules/logger/base-logger.module.ts
  packages/shared-node/src/modules/logger/libs/types/logger.type.ts
  packages/shared-node/src/modules/logger/libs/types/types.ts
  packages/shared-node/src/modules/logger/logger.ts
  packages/shared-node/tsconfig.build.json
  packages/shared-node/tsconfig.json
  packages/shared/src/index.ts
Labels: root, shared

fix: change validation ml-86
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
Labels: none

refactor(frontend): delete userApi ml-64
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
Labels: none

refactor: rewrite logger ml-43
  apps/backend/test-cloud-formation.ts
  apps/bot/logs/app.log
  apps/bot/package.json
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/logger/base-logger.module.ts
  package-lock.json
Labels: root

feat: add time out to goto method ml-43
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
