Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

docs: add 422 error to sign up docs ml-78
  apps/backend/src/modules/auth/auth.controller.ts
Labels: none

feat: add constants to zoom bot ml-43
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

feat: create helper function delay ml-43
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

feat: add enums ui label ml-43
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat: add bot to join meeting ml-43
  apps/bot/src/puppeteer.ts
Labels: none

refactor: change create stack type ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

feat: add variables to config ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: add parameters key ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
Labels: none

feat: logout ml-53 (#70)
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

feat: add export for logger. ml-43
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/types/types.ts
Labels: none

feat: add selector get participants ml-43
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat: add accept cookies ml-43
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: refactor bot start script ml-43
  apps/bot/package.json
  apps/bot/src/index.ts
  knip.config.ts
  packages/shared/package.json
Labels: root, shared

refactor: rewrite logger ml-43
  apps/backend/test-cloud-formation.ts
  apps/bot/logs/app.log
  apps/bot/src/index.ts
  package-lock.json
Labels: root

feat: create zoom bot messages ml-43
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
Labels: none

feat: zoom bot module ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
Labels: none

feat: add type base config ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/types.ts
Labels: none

feat: add time out to goto method ml-43
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

feat: add build:shared script in bot ml-43
  apps/bot/package.json
Labels: none

chore: add tsx to dev dep bot package ml-43
  apps/backend/package.json
Labels: none

fix: package file delete script ml-43
  apps/backend/package.json
Labels: none

fix: knip config ml-43
  knip.config.ts
Labels: root

refactor: change user data to run bot from build ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: add zoom password arg to create ml-43
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
Labels: none

fix: delete empty import ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: .env bot production ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

refactor: create init function ml-43
  apps/bot/src/index.ts
Labels: none

refactor: user data start:dev ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: create user data to init ec2 ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: shared ml-43
  apps/backend/test-cloud-formation.ts
  packages/shared/package.json
Labels: shared

refactor: make password optional ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

fix: accept terms ml-43
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: config module get launch options ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

refactor: delete unused code ml-64 (#87)
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

feat: add methods to update user data ml-56
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

fix: index ml-43
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat: add additional route protection for RootPage ml-30
  apps/frontend/src/index.tsx
Labels: none

refactor: change meeting-form ml-30
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
Labels: none

fix: add 409 error and use instead 500 ml-94
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/modules/auth/auth.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/email-conflict-error/email-conflict.error.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-status-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor: move meeting types to meetings module ml-30
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
