Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

fix: wait redirect to sign-in until fullfilled ml-77
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
Labels: none

refactor: fix update user controller types ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor: fix update user controller types ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor: fix user update validation schema ml-56
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared

fix: change to boolean ml-94
  apps/backend/src/modules/auth/auth.service.ts
Labels: none

feat: fix meeting creation types and database schema ml-30
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
  apps/backend/src/db/migrations/20240130000000_alter_meetings_instance_id_nullable.ts
  apps/backend/src/modules/meetings/libs/types/create-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-all-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
Labels: none

feat: add first and last name validation in signup form ml-105 (#119)
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

refactor: remove Number type ml-30
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: delete var from env.example ml-43
  apps/backend/.env.example
  apps/bot/.env.example
Labels: env

feat: join zoom meetings from ec2 ml-43 (#117)
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/config/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  apps/bot/src/puppeteer.ts
Labels: env

feat: update the branch for use in template.json ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

refactor: move App into route tree and replace children with RouterOutlet ml-77
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/root/root.tsx
Labels: none

fix: move duplicate email error to AuthError ml-94
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/auth-error/auth.error.ts
  packages/shared/src/libs/exceptions/email-conflict-error/email-conflict.error.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/modules/auth/libs/enums/auth-status-message.enum.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-status-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

fix: add cause parameter in AuthError constructor ml-94
  packages/shared/src/libs/exceptions/auth-error/auth.error.ts
Labels: shared

feat: add create meeting form ml-30 (#67)
  apps/backend/src/db/migrations/20240130000000_alter_meetings_instance_id_nullable.ts
  apps/backend/src/modules/meetings/libs/types/create-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-all-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/meeting-form/styles.module.css
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/meeting/libs/enums/enums.ts
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/root/root-page.tsx
  apps/frontend/src/pages/root/styles.module.css
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

fix: remove root placeholder App ml-77
  apps/frontend/src/pages/root/root.tsx
Labels: none

refactor: remove unnecessary parameter wrapping ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix: remove whitespaces ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: implement user state persistence ml-77 (#107)
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
Labels: none

fix: return 409 error for duplicate email instead of 500 ml-94 (#116)
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/auth-error/auth.error.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/auth/libs/enums/auth-status-message.enum.ts
Labels: shared

refactor: correct argument order for route handler ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix: trim spaces in email before storing ml-74 (#83)
  apps/backend/package.json
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  package-lock.json
Labels: root

feat: add meetings list view ml-102
  apps/frontend/src/assets/img/meeting-placeholder.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

refactor: move Meetings below button ml-102
  apps/frontend/src/pages/root/root-page.tsx
Labels: none

refactor: remove root page component ml-102
  apps/frontend/src/index.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
  apps/frontend/src/pages/root/root-page.tsx
  apps/frontend/src/pages/root/styles.module.css
Labels: none

fix: fix audio recording on EC2 via PulseAudio virtual sink ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/.env.example
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: env

build: fix deploymnt issues ml-3
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/bot/package.json
  dangerfile.ts
  eslint.config.js
  knip.config.ts
  package-lock.json
  package.json
  packages/shared/package.json
  project.config.ts
  stylelint.config.js
Labels: root, shared

feat: add transcribe method in base-audio-recorder ml-44
  .gitignore
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
Labels: root

feat: add continuous delivery ml-3 (#79)
  .github/workflows/cd.yml
  .release-please-manifest.json
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/bot/package.json
  dangerfile.ts
  eslint.config.js
  knip.config.ts
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/libs/enums/app-environment.enum.ts
  prepare-build.sh
  project.config.ts
  release-please-config.json
  stylelint.config.js
Labels: root, workflows, shared

chore: remove tracked log file ml-44
  apps/bot/logs/app.log
Labels: none

build: add issues permission ml-3
  .github/workflows/cd.yml
Labels: workflows

fix: fix changelog format ml-44
  CHANGELOG.md
  apps/backend/CHANGELOG.md
  apps/frontend/CHANGELOG.md
  packages/shared/CHANGELOG.md
Labels: root, shared

chore: prettier ignore changelog files ml-3
  .prettierignore
Labels: root

refactor: move router structure more narrow ml-102
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
Labels: none

feat(frontend): add base user-avatar-uploader component ml-65
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/user-avatar-uploader/styles.module.css
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/libs/enums/notification-massage.enum.ts
Labels: none

fix: fix ec2 scripts ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
Labels: none

fix: update package-lock.json ml-44
  package-lock.json
Labels: root

feat: add openAI module via DI ml-44
  apps/bot/.env.example
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/open-ai.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/types.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/libs/types/types.ts
Labels: env

fix: update env variables ml-44
  apps/bot/.env.example
  apps/bot/setup-ec2.sh
Labels: env

chore: change NODE_ENV ml-65
  apps/backend/.env.example
Labels: env
