Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix(bot/backend): rollback audio recorder ml-180
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Labels: none

feat(backend): change bot repo to main ml-161
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

chore(frontend): fix get valid class names ml-180
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
Labels: none

fix(backend): remove unique index from meeting_id ml-230
  apps/backend/src/db/migrations/20250818155647_remove_meeting_id_unique_index.ts
Labels: none

feat(backend): enable bot restart on same meetingId if status is ended ml-230
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat(backend, shared): delete bot when it is kicked ml-161
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

refactor(backend): remove index name ml-230
  apps/backend/src/db/migrations/20250818155647_remove_meeting_id_unique_index.ts
Labels: none

refactor(backend): use sortOrder enum ml-230
  apps/backend/src/modules/meetings/meetings.repository.ts
Labels: none

feat(bot): kill ffmpeg process if error occurs ml-161
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor(backend): change error message ml-230
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat(bot): add new try catch blocks ml-161
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(backend): rename isPositiveNumber to checkIsValidId ml-222
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/check-is-valid-id/check-is-valid-id.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/is-positive-number/is-positive-number.ts
Labels: shared

refactor(backend): rename isPositiveNumber to checkIsValidId ml-222
  apps/backend/package.json
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/check-is-valid-id/check-is-valid-id.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/is-positive-number/is-positive-number.ts
Labels: shared

Revert "feat(backend, shared): delete bot when it is kicked ml-161"
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

feat: add file crud module ml-132
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/files.entity.ts
  apps/backend/src/modules/files/files.repository.ts
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/exceptions/exceptions.ts
  apps/backend/src/modules/files/libs/types/file-request-properties.type.ts
  apps/backend/src/modules/files/libs/types/file-response-properties.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  packages/shared/src/modules/files/files.ts
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/file-error-message.enum.ts
  packages/shared/src/modules/files/libs/types/file-get-all-response.type.ts
  packages/shared/src/modules/files/libs/types/file-request-dto.type.ts
  packages/shared/src/modules/files/libs/types/file-response-dto.type.ts
  packages/shared/src/modules/files/libs/types/file-update-dto.type.ts
  packages/shared/src/modules/files/libs/types/types.ts
Labels: shared

feat: update meetings module ml-132
  apps/backend/src/db/migrations/20250809172110_add_meeting_audio_table.ts
  apps/backend/src/db/migrations/20250809172111_add_files_table.ts
  apps/backend/src/db/migrations/20250809172112_add_audio_file_id_to_meetings.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/libs/exceptions/exceptions.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meeting-audio.entity.ts
  apps/backend/src/modules/meetings/meeting-audio.model.ts
  apps/backend/src/modules/meetings/meeting-audio.repository.ts
  apps/backend/src/modules/meetings/meeting-audio.service.ts
  apps/backend/src/modules/meetings/meeting-audio.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/types.ts
  apps/bot/src/libs/types/types.ts
Labels: none

feat: update packages/shared ml-132
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/file-error/file.error.ts
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-audio-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-attach-audio-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio-save-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-get-all-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-rsponse-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-update-audio-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/types.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix: update client-to-server type ml-132
  apps/bot/src/libs/modules/socket-client/libs/enums/enums.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
Labels: none

fix(frontend): fix script ml-222
  apps/backend/package.json
Labels: none

feat: remove contentType from config in backend ml-132
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: env

feat: mobile version for feature section and move hooks to hook folder ml-59
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/feature-animation.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-in-view-animation/use-in-view-animation.hook.ts
  apps/frontend/src/libs/hooks/use-media-query/use-media-query.hook.ts
  apps/frontend/src/libs/hooks/use-prefers-reduced-motion.ts/use-prefers-reduced-motion.hook.ts
  apps/frontend/src/libs/types/in-view-animation-options.type.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
Labels: none

refactor: update base-s3.module ml-132
  apps/bot/src/libs/modules/s3/base-s3.module.ts
Labels: none

feat: update zoom-bot ml-132
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: mobile version for cta and testimonial ml-59
  apps/frontend/src/pages/landing/components/landing-cta/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/styles.module.css
Labels: none

feat: update readme.md ml-132
  readme.md
Labels: root

refactor: rename transcribe socket event ml-132
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/socket-reserved-events.type.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

feat: mobile version for footer ml-59
  apps/frontend/src/pages/landing/components/landing-footer/styles.module.css
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
Labels: none

refactor(backend): use findAll ml-230
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-array-lenght.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat: add meeting card menu ml-211
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

fix(backend, frontend, bot, shared): errors after merge ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/enums/enums.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

fix(backend): correction of a typographical error ml-230
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-array-length.ts
Labels: shared

fix(backend): signed urls regexp ml-161
  apps/backend/src/libs/constants/white-routes.constant.ts
Labels: none

fix: allow reconnection zoom meeting ml-230 (#233)
  apps/backend/src/db/migrations/20250818155647_remove_meeting_id_unique_index.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-array-length.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat(backend): return feat branch to aws ml-161
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(backend): add instance type to env ml-236
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: env

chore: rename branch ml-236
  apps/backend/.env.example
Labels: env

fix: package-lock was changed ml-211
  package-lock.json
Labels: root

feat: add a possibility to specify instance type from env file ml-236 (#239)
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: env

feat(frontend): add invalid token check ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
Labels: none

feat(bot, backend, frontend): remove monitoring logic ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
