Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

refactor(frontend): fix get meeting details actions ml-174
  apps/frontend/src/modules/meeting-details/slices/actions.ts
Labels: none

fix: no validation for zoom link when adding bot to meeting ml-263 (#298)
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/zoom-error-regex.constant.ts
  packages/shared/src/libs/constants/zoom-join-path-regex.constant.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/zoom-path.enum.ts
  packages/shared/src/libs/helpers/convert-to-zoom-web-client-url/convert-to-zoom-web-client-url.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/is-zoom-link-valid/is-zoom-link-valid.helper.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

feat: add status indicators in meeting details page ml-282 (#310)
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/status-meta.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/tone.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/types.ts
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
  apps/frontend/src/modules/meeting-details/libs/types/types.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-status.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-status-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix: add 405 response for unsupported methods ml-182 (#316)
  apps/backend/package.json
  apps/backend/src/libs/enums/fastify-hook.enum.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/method-guard/libs/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: root, shared

fix: changed rings animation and add swipe for testimonials on mobile ml-293 (#296)
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

feat: simplify action items ml-300 (#322)
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: none

feat: add mobile responsiveness for the profile page ml-286 (#326)
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
  apps/frontend/src/pages/profile/styles.module.css
Labels: none

fix: updated email meetings refresh ml-302 (#331)
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: none

fix: fixed mobile meeting-cards-menu ml-304 (#332)
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

fix: audio duration label ml-313 (#337)
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/track-duration.enum.ts
  apps/frontend/src/libs/enums/track-string-padding.enum.ts
  apps/frontend/src/libs/helpers/format-duration.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

fix(frontend): put a new card on the begining ml-329
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
Labels: none

fix(frontend): chore: update dependencies ml-301
  package-lock.json
Labels: root

fix(backend): disable methodGuard ml-339
  apps/backend/package.json
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/method-guard/libs/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
Labels: none

fix(backend): ignore non-API and documentation routes ml-339
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  package-lock.json
Labels: root

refactor: use empty array length instead of separate constnat ml-330
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix(backend): ignore non-API and documentation routes ml-339 (#341)
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  package-lock.json
Labels: root

fix(backend): disable methodGuard ml-339 (#340)
  apps/backend/package.json
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/method-guard/libs/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  apps/backend/src/libs/plugins/plugins.ts
Labels: none

refactor: update meeting details page ml-330
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix(frontend): add constants array items ml-307
  apps/frontend/src/libs/components/transcription-panel/libs/constants/constants.ts
Labels: none

fix(frontend): delete last chunk from ui ml-307
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

fix(frontend): change logic animation ml-307
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

refactor: fonts are connected locally ml-188
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/fonts/Inter/Inter-Bold.woff2
  apps/frontend/src/assets/fonts/Inter/Inter-Medium.woff2
  apps/frontend/src/assets/fonts/Inter/Inter-Regular.woff2
  apps/frontend/src/assets/fonts/Inter/Inter-SemiBold.woff2
  apps/frontend/src/assets/fonts/Nunito/Nunito-Bold.woff2
  apps/frontend/src/assets/fonts/Nunito/Nunito-Regular.woff2
  apps/frontend/src/assets/fonts/Nunito/Nunito-SemiBold.woff2
  apps/frontend/src/assets/fonts/Roboto/Roboto-Bold.woff2
  apps/frontend/src/assets/fonts/Roboto/Roboto-Medium.woff2
  apps/frontend/src/assets/fonts/Roboto/Roboto-Regular.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2
Labels: none

refactor: added Loader for transcription-panel ml-188
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

refactor: changed name of folders ml-188
  apps/frontend/src/assets/fonts/inter/Inter-SemiBold.woff2
  apps/frontend/src/assets/fonts/inter/inter-bold.woff2
  apps/frontend/src/assets/fonts/inter/inter-medium.woff2
  apps/frontend/src/assets/fonts/inter/inter-regular.woff2
  apps/frontend/src/assets/fonts/nunitos/Nunito-SemiBold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-bold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-regular.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-bold.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-medium.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-regular.woff2
Labels: none

refactor(backend): rename astLina ml-339
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  package-lock.json
Labels: root

fix: fixed header elements ml-345
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

fix(frontend): return div with class main-container ml-347
  apps/frontend/src/libs/components/layout/layout.tsx
Labels: none

fix(frontend): return styles main-container and layout ml-347
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

fix(bot): change browser to chromium ml-305
  apps/bot/setup-ec2.sh
Labels: none

fix(bot): change in config browser to chromium ml-305
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

refactor: move socket initilization back ml-282
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: update navigation item icons visibility and font loading ml-188 (#327)
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/fonts/inter/Inter-SemiBold.woff2
  apps/frontend/src/assets/fonts/inter/inter-bold.woff2
  apps/frontend/src/assets/fonts/inter/inter-medium.woff2
  apps/frontend/src/assets/fonts/inter/inter-regular.woff2
  apps/frontend/src/assets/fonts/nunitos/Nunito-SemiBold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-bold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-regular.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-bold.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-medium.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-regular.woff2
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

Merge branch 'main' into 65-feat-add-user-avatar
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
  apps/backend/src/libs/helpers/helpers.ts
  apps/backend/src/libs/plugins/plugins.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/status-meta.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/tone.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/types.ts
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
  apps/frontend/src/libs/enums/track-duration.enum.ts
  apps/frontend/src/libs/enums/track-string-padding.enum.ts
  apps/frontend/src/libs/helpers/format-duration.helper.ts
  packages/shared/src/libs/constants/zoom-error-regex.constant.ts
  packages/shared/src/libs/constants/zoom-join-path-regex.constant.ts
  packages/shared/src/libs/enums/zoom-path.enum.ts
  packages/shared/src/libs/helpers/convert-to-zoom-web-client-url/convert-to-zoom-web-client-url.helper.ts
  packages/shared/src/libs/helpers/is-zoom-link-valid/is-zoom-link-valid.helper.ts
  packages/shared/src/modules/meetings/libs/types/meeting-status-dto.type.ts
Labels: shared

feat: export button should be disabled during live transcription ml-330 (#336)
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

fix: meeting details transcription refresh to start transcription ml-307 (#344)
  apps/frontend/src/libs/components/transcription-panel/libs/constants/constants.ts
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

fix: fixed header elements ml-345 (#346)
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

refactor(frontend): improve code ml-339
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
Labels: none

refactor(frontend): use arrow functions ml-339
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/parse-markdown.ts
Labels: none

fix: convert markdown to styles for pdf export ml-301 (#328)
  apps/frontend/package.json
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/parse-markdown.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/heading-level-primary.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

fix: rollback layout changes ml-347 (#348)
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none
