Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat(backend): add outout instance public dns ml-108
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(backend): add meeting transcription attributes ml-108
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-transcriptions-attributes.enum.ts
Labels: none

feat(backend): add meeting transcription entity ml-108
  apps/backend/src/modules/meetings/meeting-transcription.entity.ts
Labels: none

feat(backend): add meeting transcription model ml-108
  apps/backend/src/modules/meetings/meeting-transcription.model.ts
Labels: none

feat(backend): add meeting transcription repository ml-108
  apps/backend/src/modules/meetings/meeting-transcription.repository.ts
Labels: none

feat(backend): add meeting transcription service ml-108
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
Labels: none

feat(backend): add meeting transcription error class ml-108
  apps/backend/src/modules/meetings/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/meetings-transcription/meetings-transcription.error.ts
Labels: shared

feat(backend): create meeting transcription DTO types ml-108
  packages/shared/src/modules/meetings/libs/types/meeting-transcription/meeting-transcription-get-all-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-transcription/meeting-transcription-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-transcription/meeting-transcription-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-transcription/meeting-update-transcription-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-transcription/types.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat(backend): add meeting transcription error messages ml-108
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-transcription-error-message/meeting-transcription-error-message.enums.ts
Labels: shared

feat(bot): add HOST and PORT environment variables ml-108
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat(backend): instantiate meeting transcription repository and service ml-108
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings-transcription.ts
Labels: none

refactor(backend): update MeetingModel with transcription relation ml-108
  apps/backend/src/modules/meetings/meetings.model.ts
Labels: none

feat(backend): add server app with HTTP server, socket, zoom bot ml-108
  apps/bot/src/libs/modules/server-application/base-server-application.ts
  apps/bot/src/libs/modules/server-application/libs/types/server-aplication.type.ts
  apps/bot/src/libs/modules/server-application/libs/types/types.ts
  apps/bot/src/libs/modules/server-application/server-application.ts
  packages/shared/src/index.ts
Labels: shared

feat: create player track component ml-62 (#135)
  apps/backend/package.json
  apps/frontend/src/assets/img/icons/pause.svg
  apps/frontend/src/assets/img/icons/play.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/audio-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/constants/percent-multiplier.constant.ts
  packages/shared/src/libs/constants/start-time.constant.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: root, shared

feat: fixed lint errorss ml-166
  tests/.github/workflows/playwright.yml
  tests/.prettierrc
  tests/api/controllers/api-controllers.ts
  tests/api/controllers/auth-controller.ts
  tests/api/helpers/dynamic-user-generator.ts
  tests/api/helpers/email-generator.ts
  tests/api/helpers/first-last-name-generator.ts
  tests/api/helpers/get-random-chars.ts
  tests/api/helpers/jwt-validator.ts
  tests/api/helpers/password-generator.ts
  tests/api/schemas/authenticated-user-response.ts
  tests/api/schemas/schema-validator.ts
  tests/api/schemas/valid-signup-response.ts
  tests/playwright.config.ts
  tests/tests/authentication/JWT-testcases/JWT-generation.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-negative.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-positive.spec.ts
  tests/tests/authentication/signin/sign-in-negative.spec.ts
  tests/tests/authentication/signin/sign-in-positive.spec.ts
  tests/tests/authentication/signup/email-validation-negative.spec.ts
  tests/tests/authentication/signup/email-validation-positive.spec.ts
  tests/tests/authentication/signup/firstname-validation-negative.spec.ts
  tests/tests/authentication/signup/firstname-validation-positive.spec.ts
  tests/tests/authentication/signup/lastname-validation-negative.spec.ts
  tests/tests/authentication/signup/lastname-validation-positive.spec.ts
  tests/tests/authentication/signup/password-validation-negative.spec.ts
  tests/tests/authentication/signup/password-validation-positive.spec.ts
Labels: none

Rename JWT-generation.spec.ts to jwt-generation.spec.ts
  tests/tests/authentication/JWT-testcases/jwt-generation.spec.ts
Labels: none

feat: renamed jwt file ml-166
  tests/tests/authentication/JWT-testcases/jwt-validator.spec.ts
Labels: none

feat: fixed the issues ml-166
  package-lock.json
Labels: root

feat(frontend): add landing page features section and refactor structure ml-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/landing/features/summary.png
  apps/frontend/src/assets/img/landing/features/transcript.png
  apps/frontend/src/assets/img/landing/features/workflow.png
  apps/frontend/src/pages/landing/components/components.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
  apps/frontend/src/pages/landing/components/landing-footer/styles.module.css
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/constants/constants.ts
  apps/frontend/src/pages/landing/constants/feature-data.constants.ts
  apps/frontend/src/pages/landing/landing-page.tsx
  apps/frontend/src/pages/landing/types/feature.type.ts
  apps/frontend/src/pages/landing/types/types.ts
Labels: none

refactor(frontend): rename boolean property ml-57
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/loader/loader.tsx
Labels: none

refactor(frontend): rename loader progress config enum ml-57
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/circular-progress.tsx
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/loader-progress-config.enum.ts
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

refactor(frontend): rename previousLoadingReference to hasPreviousLoadingReference ml-57
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

refactor(frontend): remove unused import ml-57
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/circular-progress.tsx
Labels: none

refactor(frontend): create enum for radius value ml-57
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/loader-icon-config.enum.ts
Labels: none

feat(frontend): add landing page cta section ml-59
  apps/frontend/src/pages/landing/components/components.ts
  apps/frontend/src/pages/landing/components/landing-cta/landing-cta.tsx
  apps/frontend/src/pages/landing/components/landing-cta/styles.module.css
  apps/frontend/src/pages/landing/landing-page.tsx
Labels: none

refactor(shared): create helper is zoom link ml-148
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/validate-zoom-link.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

refactor(frontend): optimize condition in use-progress hook ml-57
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

refactor(backend/frontend/shared): add backspace to keyboard, move to share ml-148
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/keyboard-key.enum.ts
Labels: shared

refactor(backend): create separate variable meetingIdIndex ml-148
  apps/backend/src/modules/meetings/libs/helpers/extract-zoom-meeting-id.helper.ts
Labels: none

refactor(shared/backend): add extract zoom meeting id ml-148
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/extract-zoom-meeting-id/extract-zoom-meeting-id.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: shared

fix(backend): remove missing field interception, put 422 for all Zod errors ml-162
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

chore(backend): update dependecies ml-162
  package-lock.json
Labels: root

chore: add summary and action items to db schema ml-143
  readme.md
Labels: root

refactor(backend): add user details to UserEntity ml-56
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend/shared): fix getCurrentUser type ml-56
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor(backend): fix user details repository methods with ColumnName ml-56
  apps/backend/src/modules/users/user-details.repository.ts
Labels: none

refactor(backend, shared): rename find by signed url endpoint ml-143
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/types/verify-url-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

refactor: change loader according to the layout ml-57 (#151)
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/circular-progress.tsx
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/styles.module.css
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/loader-icon-config.enum.ts
  apps/frontend/src/libs/enums/loader-progress-config.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

feat: add recording full audio and add s3 module in bot app ml-132
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/finalize-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/finalize-result.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
  apps/bot/src/libs/modules/s3/libs/types/s3-key-parameters.type.ts
  apps/bot/src/libs/modules/s3/libs/types/s3.type.ts
  apps/bot/src/libs/modules/s3/libs/types/types.ts
  apps/bot/src/libs/modules/s3/libs/types/upload-parameters.type.ts
  apps/bot/src/libs/modules/s3/libs/types/upload-result.type.ts
  apps/bot/src/libs/modules/s3/s3.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  package-lock.json
Labels: root, env

feat: update create env section in setup-ec2.sh ml-132
  apps/bot/setup-ec2.sh
Labels: none
