Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat: add http method enums ml-61
  packages/shared/src/libs/modules/http/http.ts
  packages/shared/src/libs/modules/http/libs/enums/enums.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
Labels: shared

chore: delete http method type ml-61
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/libs/modules/http/libs/types/types.ts
Labels: shared

refactor: change type using enums ml-61
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  packages/shared/src/libs/modules/http/libs/types/http-options.type.ts
Labels: shared

chore: add path alias for simplified imports ml-61
  packages/shared/tsconfig.json
Labels: shared

fix(frontend): add hide-show icon ml-120
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: none

fix(frontend): change password status icon display order ml-99
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

refactor: update setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: remove git installing in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: update env name variables in base-config ml-44
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: add LogoIcon component with size variants and BEM methodology ml-121
  apps/frontend/index.html
  apps/frontend/public/meetlytic-favicon.svg
  apps/frontend/public/vite.svg
  apps/frontend/src/assets/img/logo/meetlytic-icon.svg
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/logo-icon/logo-icon.tsx
  apps/frontend/src/libs/components/logo-icon/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/libs/enums/logo-theme.enum.ts
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: none

fix: change selector ml-115
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/auth/auth.tsx
  package-lock.json
Labels: root

fix(frontend): add hide-show icon ml-120 (#125)
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: none

fix: change to relative path ml-61
  packages/shared/src/libs/modules/http/libs/types/http-options.type.ts
  packages/shared/tsconfig.json
Labels: shared

fix: add shared package step in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat: add error handler in base-audio-recorder ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor: create unified logo component ml-121
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/logo-icon/logo-icon.tsx
  apps/frontend/src/libs/components/logo-icon/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  package-lock.json
Labels: root

fix: fix directory path ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat: update meetlytic icon and favicon with ml-121
  apps/frontend/public/meetlytic-favicon.svg
  apps/frontend/src/assets/img/logo/meetlytic-icon.svg
Labels: none

refactor: remove unused CSS ml-121
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: none

refactor(shared): convert HTTP methods type to enum ml-61 (#124)
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/http/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/http.ts
  packages/shared/src/libs/modules/http/libs/enums/enums.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/libs/modules/http/libs/types/http-options.type.ts
  packages/shared/src/libs/modules/http/libs/types/types.ts
Labels: shared

fix: fix installing system libs and dep step in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

refactor: refact installing system libs step ml-44
  apps/bot/setup-ec2.sh
Labels: none

refactor: update setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: change selector ml-115 (#129)
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/auth/auth.tsx
  package-lock.json
Labels: root

fix: fix setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: add exit-idle-time in pulseaudio start ml-44
  apps/bot/setup-ec2.sh
Labels: none

refactor: add pulseaudio running handler ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: fix setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: update setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

chore: add apps/build to ls-lint ignored ml-102
  .ls-lint.yml
  package-lock.json
Labels: root

feat(backend): add createdAt to meeting ml-102
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: shared

feat(frontend): add meetings data fetching ml-102
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

feat(shared): add UserWithDetailsDto ml-56
  apps/backend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

feat(frontend): add UserWithDetailsDto in functions ml-56
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

feat(backend): add join using DB relation ml-56
  apps/backend/src/libs/modules/database/abstract.model.ts
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor: rollback setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat(frontend): add custom date formatting ml-102
  apps/frontend/package.json
  apps/frontend/src/libs/helpers/format-date.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
Labels: root

fix: fix setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: fix cd pathes in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

feat(shared): add user error handler ml-56
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/libs/exceptions/exceptions.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/user-error/user.error.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
