Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

fix(frontend): fix lint errors ml-371
  apps/frontend/src/libs/components/avatar/styles.module.css
Labels: none

fix: uploaded avatars appear stretched or distorted ml-371 (#380)
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/modules/users/slices/users.slice.ts
Labels: none

fix(frontend): add focus to play button after seek ml-362
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

fix(frontend): add focus to play button after seek ml-362 (#381)
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

feat(frontend, shared): create type from enum ml-308
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

fix(frontend): limit the width of public layout ml-351
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/components/public-layout/styles.module.css
Labels: none

feat: contact scroll and vertical align element ml-383
  apps/frontend/src/libs/enums/landing-section.enum.ts
  apps/frontend/src/modules/landing/libs/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
Labels: none

feat: use consistent datetime format ml-308 (#338)
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/datetime-format.enum.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

chore(frontend): refresh dependencies ml-351
  package-lock.json
Labels: root

fix: pull main ml-275
  package-lock.json
Labels: root

fix(frontend): export disabled during meeting, active after meeting ends ml-382
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: error toasts for invalid meeting ids ml-275 (#319)
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id-route-parameter.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: root, shared

fix: limit public layout width ml-351 (#388)
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/components/public-layout/styles.module.css
Labels: none

fix: no automatic logout and redirect when token invalid ml-174 (#335)
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  apps/frontend/src/pages/auth/auth.tsx
Labels: none

fix(frontend): export disabled during meeting, active after meeting ends ml-382 (#389)
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix(frontend): meeting buttons overlap ml-390
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

fix(frontend): meeting buttons overlap ml-390 (#391)
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

feat: contact scroll and vertical align element ml-383 (#386)
  apps/frontend/src/libs/enums/landing-section.enum.ts
  apps/frontend/src/modules/landing/libs/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
Labels: none
