Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(backend, shared): rename signed url endpoint path ml-143
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

fix: bot fails to join zoom meeting ml-148 (#165)
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/types.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/setup-ec2.sh
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/keyboard-key.enum.ts
  packages/shared/src/libs/helpers/extract-zoom-meeting-id/extract-zoom-meeting-id.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/validate-zoom-link.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: root, shared, env

fix(backend): linter errors ml-143
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor: changed style and changed name of company ml-59
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
Labels: none

feat: add new variables in settings in cloud-formation ml-132
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/setup-ec2.sh
Labels: env

refactor: refactor audio-recorder and s3 modules ml-132
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
  apps/bot/src/libs/modules/s3/s3.ts
Labels: none

feat: implement FullMeetingRecording methods in base-zoom-bot ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

chore(backend): update dependecies ml-162
  package-lock.json
Labels: root

feat(frontend): create draft of mobile layout ml-155
  apps/frontend/src/assets/img/icons/burger-close.svg
  apps/frontend/src/assets/img/icons/burger-menu.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo-without-text.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/types/icon-name.type.ts
  package-lock.json
Labels: root

feat(frontend): add mobile size to avatar ml-155
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/enums/avatar-size.enum.ts
Labels: none

feat(frontend): add testimonial section ml-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/landing/testimonials/avatar-1.jpg
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/pages/landing/components/components.ts
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial-card.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/styles.module.css
  apps/frontend/src/pages/landing/constants/constants.ts
  apps/frontend/src/pages/landing/constants/testimonial-items.constants.ts
  apps/frontend/src/pages/landing/landing-page.tsx
  apps/frontend/src/pages/landing/types/testimonial.type.ts
  apps/frontend/src/pages/landing/types/types.ts
Labels: none

fix: generate different error codes for validation signup and signin ml-162 (#167)
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  package-lock.json
Labels: root

feat(frontend): add mobile layout to the sign-in page ml-152
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: none

feat(frontend): add mobile layout to the sign-up page ml-152
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
Labels: none

refactor(backend): fix user service error message ml-56
  apps/backend/src/modules/users/user.service.ts
Labels: none

docs(backend): rewrite swagger documentation for user endpoints ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

fix(backend): endpoint naming issues ml-143
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: remove space in env variable ml-132
  apps/bot/setup-ec2.sh
Labels: none

fix: remove break in zoom-base-bot ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): add mobile logo source ml-155
  apps/frontend/src/assets/img/logo/meetlytic-logo-mobile.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/logo-type.enum.ts
Labels: none

refactor: move avatar logic to Redux slice and use dispatch in component ml-65
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/user-avatar.slice.ts
  apps/frontend/src/modules/users/slices/user-avatar.ts
  apps/frontend/src/modules/users/user-avatar-api.ts
  apps/frontend/src/modules/users/user-avatar.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/content-type.enum.ts
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-avatar.dto.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

refactor: update code in user-avatar.service.ts according to the B19 ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
Labels: none

refactor: avoid inline style ml-65
  apps/frontend/src/libs/components/user-avatar-uploader/styles.module.css
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
Labels: none

refactor(frontend): move MobileMenu to its own component ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/libs/components/mobile-menu/mobile-menu.tsx
  apps/frontend/src/libs/components/header/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/constants/navigation-items.constant.ts
Labels: none

chore(bot): delete unused module ml-108
  apps/bot/src/libs/modules/server-application/base-server-application.ts
  apps/bot/src/libs/modules/server-application/libs/types/server-aplication.type.ts
  apps/bot/src/libs/modules/server-application/libs/types/types.ts
  apps/bot/src/libs/modules/server-application/server-application.ts
Labels: none

feat(backend): install socket io server ml-108
  apps/backend/package.json
  package-lock.json
Labels: root

feat(bot): install socket io client to bot ml-108
  apps/bot/package.json
Labels: none

feat(backend): create socket server service ml-108
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/allowed-origin.enum.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/libs/types/socket-service.types.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/libs/modules/socket/socket.ts
Labels: none

feat(shared): add socket events and messages ml-108
  apps/bot/src/libs/enums/enums.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-messages.enum.ts
Labels: shared

feat(backend): add socket service to server app ml-108
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
Labels: none

feat(frontend): add mobile menu close and hide arrow in navigation ml-155
  apps/frontend/src/libs/components/header/libs/components/mobile-menu/mobile-menu.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/navigation-link.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/navigation/navigation.tsx
Labels: none

feat(bot): create socket client for bot ml-108
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/socket-reserved-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/types.ts
  apps/bot/src/libs/modules/socket-client/socket.ts
  packages/shared/src/libs/modules/socket/socket.ts
Labels: shared

refactor(shared): move helper function to shared ml-108
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

refactor(frontend): refactor class names to BEM convention ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix(frontend): repair arrows align in NavigationLink ml-155
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
Labels: none

feat(backend/bot): pass id primary key to bot ml-108
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat: add meeting transcription service to meeting ml-108
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
Labels: none

fix(frontend): repair logo size ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix(frontend): remove unnesasary navigation items ml-155
  apps/frontend/src/libs/constants/navigation-items.constant.ts
Labels: none

feat(backend): create method to save chunk ml-108
  apps/backend/src/libs/types/repository.type.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
