Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat(bot): remove full recording ml-305
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: update migration ml-282
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
Labels: none

refactor: update meeting.service ml-282
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

chore: refresh-dependencies ml-301
  package-lock.json
Labels: root

feat: update meeting-status-badge ml-282
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat: start mobile responsiveness improvements ml-285
  apps/frontend/src/pages/meeting-details/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

fix: pull main branch ml-206
  package-lock.json
Labels: root

refactor(backend): change user in APIHandlerOptions ml-65
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

refactor(backend): use null instead of undefined for avatarUrl ml-65
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
Labels: none

refactor(backend): delete user-avatar.service and move it methods to user.service ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor(backend): delete userDetailsModel from fileService ml-65
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor(backend): delete userDetailsModel from file.service ml-65
  apps/backend/src/modules/files/files.service.ts
  apps/backend/src/modules/files/files.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor(backend): change snake case into camel case ml-65
  apps/backend/src/modules/users/libs/enums/column-name.enum.ts
Labels: none

refactor(backend): create enum value for fastify hook ml-65
  apps/backend/src/libs/enums/fastify-hook.enum.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
Labels: none

refactor(backend): change migration file ml-65
  apps/backend/src/db/migrations/20250813153105_add_file_id_to_user_details.ts
Labels: none

fix: error toasts for invalid meeting ids ml-275
  apps/frontend/src/modules/meeting-details/libs/enums/enums.ts
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id-route-parameter.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat: changed text of button ml-314
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
Labels: none

fix(backend): correct name plugins.ts ml-301
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/plugins.ts
Labels: none

refactor: changed breakpoint of meetings_header ml-314
  apps/frontend/src/pages/meeting-details/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

Revert "feat(backend): switch to feat branch ml-300"
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): set action items formating ml-300
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: none

refactor: added break-word for meetings_header-name ml-314
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

feat(bot): remove additional delays ml-300
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): remove deadline and assignees from action items ml-300
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: none

fix(bot): add log for ffmpeg and cpu-memory ml-305
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/system-monitor/system-monitor.ts
Labels: none

fix(bot): add log for ffmpeg and cpu-memory ml-305 (#323)
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/system-monitor/system-monitor.ts
Labels: none

fix(backend): open for websockets ml-182
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
Labels: none

feat(bot): use wav format ml-305
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): disable the export button until the end of the meeting ml-301
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat: added hasOverlay to Loader to profile ml-202
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

fix: update down method in migration ml-282
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
Labels: none

feat: changed text of button ml-314 (#320)
  apps/frontend/src/pages/meeting-details/styles.module.css
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

refactor: move types to a separate file in meeting-status-badge ml-282
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/status-meta.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/tone.type.ts
  apps/frontend/src/libs/components/meeting-status-badge/libs/types/types.ts
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
Labels: none

fix: pull main ml-206
  package-lock.json
Labels: root

feat: added hasOverlay to Loader to profile ml-202 (#324)
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

fix: update db migration ml-282
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
Labels: none

feat: start mobile responsiveness improvements ml-285 (#318)
  apps/frontend/src/pages/meeting-details/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

feat(frontend): add render markdown ml-301
  apps/frontend/package.json
  apps/frontend/src/libs/components/meeting-pdf/libs/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/parse-markdown.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/heading-level-primary.ts
  apps/frontend/src/libs/types/types.ts
  package-lock.json
Labels: root

fix: change variable naming ml-206
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id-route-parameter.validation-schema.ts
Labels: shared

feat(bot): apply streamcopy ml-305
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
