Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat: update env variables config ml-132
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: env

feat: update bot .env.example ml-132
  apps/bot/.env.example
Labels: env

feat: add auth handling ml-205
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/.env.example
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/enums/timeout.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: env

refactor: update base-zoom-bot ml-205
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: change token naming ml-131
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/modules/meeting-details/meeting-details-api.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/modules/meetings/libs/types/meeting-details-request-dto.type.ts
Labels: shared

fix: add type ml-131
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
Labels: none

refactor(frontend): rename variable-component classes to visible-on for clarity ml-154
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

fix: update base-zoom-bot, now it works ml-205
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: delete preHandler and use only plugin ml-65
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/plugins/uploads/libs/types/files.type.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/libs/types/fastify.d.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
Labels: shared

refactor: simplify findById ml-65
  apps/backend/src/modules/files/file.service.ts
Labels: none

refactor: rename column file_id to avatar_file_id ml-65
  apps/backend/src/db/migrations/20250816222524_rename_file_id_to_avatar_file_id_in_user_details.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/users/libs/enums/column-name.enum.ts
  apps/backend/src/modules/users/user-details.entity.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor: update base-zoom-bot ml-205
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/libs/types/zoom-bot-options.type.ts
Labels: none

feat(backend/shared): create endpoint to get chunks by id ml-180
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-namespace.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-transcription-error-message/meeting-transcription-error-message.enums.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

feat(frontend): add transcription to redux ml-180
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/transcription/libs/enums/enums.ts
  apps/frontend/src/modules/transcription/libs/types/types.ts
  apps/frontend/src/modules/transcription/slices/actions.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/modules/transcription/slices/transcription.ts
  apps/frontend/src/modules/transcription/transcription-api.ts
  apps/frontend/src/modules/transcription/transcription.ts
Labels: none

feat(frontend): create reusable search bat ml-180
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/search-bar/search-bar.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
Labels: none

feat(frontend): create reusable transcription panel ml-180
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

refactor(frontend): change component search bar and panel ml-180
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

feat(frontend/shared): add socket to frontend ml-180
  apps/frontend/package.json
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/socket/base-socket.module.ts
  apps/frontend/src/libs/modules/socket/socket.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/array.constants.ts
  packages/shared/src/libs/constants/constants.ts
Labels: root, shared

feat(frontend): add server url to config ml-180
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat(frontend): add hook to live stream transcription ml-180
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
Labels: none

feat(frontend): add smoth scroll ml-180
  apps/frontend/src/assets/css/scaffolding.css
Labels: none

feat(backend/shared): add room logic to server socket ml-180
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/constants/constants.ts
  apps/backend/src/libs/modules/socket/libs/constants/empty-room-size.constant.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/socket.ts
Labels: shared

fix(bot): add socket null on disconnect to socket bot ml-180
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
Labels: none

feat(backend, bot, shared): add stop recording events chain ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/libs/types/open-ai.type.ts
  apps/bot/src/libs/modules/socket-client/base-socket.module.ts
  apps/bot/src/libs/modules/socket-client/enums/enums.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-namespace.enum.ts
  packages/shared/src/libs/modules/socket/socket.ts
  packages/shared/src/modules/meetings/libs/types/meeting-summary-action-points-response-dto.ts
  packages/shared/src/modules/meetings/libs/types/meeting-update-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: root, shared

feat(bot): add zoom url log ml-161
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(backend): change repository to feature branch ml-161
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(bot, backend): add new logs ml-161
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): revert 'Leave' button selector ml-161
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat(backend, shared): add summary/action items to validation schema ml-160
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-update.validation-schema.ts
Labels: shared

refactor(frontend): delete unused helpers ml-173
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
Labels: none

fix: update enter password step ml-205
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: remove logout ml-131
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/frontend/src/pages/meeting-details/libs/constants/constants.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/modules/meetings/libs/types/meeting-details-request-dto.type.ts
Labels: shared

refactor: add prefix S3 to BUCKET_NAME ml-65
  apps/backend/.env.example
  apps/backend/src/libs/modules/aws/s3.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/modules/users/user-avatar.service.ts
Labels: env

refactor(frontend): delete unused import ml-173
  apps/frontend/src/libs/modules/api/base-http-api.ts
Labels: none

refactor(frontend): rername ensureOnline method ml-173
  apps/frontend/src/libs/modules/api/base-http-api.ts
Labels: none

refactor(frontend): change no internet connection error code ml-173
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: shared

refactor: move logic from user.controller.ts to user-avatar.service.ts ml-65
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/modules/users/libs/enums/user-avatar-error-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
Labels: shared

refactor: move buildKey() to BaseS3 module ml-65
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  apps/backend/src/modules/users/user-avatar.service.ts
Labels: none

refactor: remove bucketName from UserAvatarService, use BaseS3 default bucket ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/users.ts
Labels: none

refactor: add a separate error for upload files ml-65
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/upload-error/upload-error.exception.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
