Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

feat(frontend): correct container layout ml-286
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

feat(frontend): add mobile responsiveness to profile ml-286
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
  apps/frontend/src/pages/profile/styles.module.css
Labels: none

fix(frontend): fix width in profile form ml-286
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
Labels: none

feat(bot): set acodec to copy ml-305
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

feat: update navigation item icons visibility and font loading ml-188
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: none

feat(bot): set rate 16khz and 1 channel ml-305
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

Revert "feat(bot): set rate 16khz and 1 channel ml-305"
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor(frontend): beautify imports ml-301
  apps/frontend/src/libs/components/meeting-pdf/libs/parse-markdown.ts
  apps/frontend/src/libs/types/types.ts
Labels: none

refactor: changed RingSize and RingSpeed for mobile ml-293
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
Labels: none

feat: create helper for meeting status handling ml-282
  apps/backend/src/libs/modules/socket/base-socket.module.ts
Labels: none

refactor: update meeting.service ml-282
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor: update meeting-status-badge ml-282
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
Labels: shared

fix: create variable for title ml-206
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: move validation to backend ml-275
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/frontend/src/modules/meeting-details/libs/enums/enums.ts
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

refactor: removed commented code ml-188
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
Labels: none

refactor(frontend): organize the folder structure ml-301
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/parse-markdown.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
Labels: none

refactor(frontend): remove unnesasery button status ml-301
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: updated email meetings refresh ml-302
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: none

refactor(backend): change variable name ml-65
  apps/backend/src/modules/users/user.service.ts
Labels: none

feat: add meeting card naming ml-206 (#288)
  apps/backend/src/db/migrations/20250822025301_add_meetings_title.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: root, shared

fix: fixed mobile meeting-cards-menu ml-304
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

refactor(backend): change Error into UserError ml-65
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/enums.ts
  packages/shared/src/modules/users/libs/enums/user-avatar-error-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-error-message.enum.ts
  packages/shared/src/modules/users/users.ts
Labels: shared

feat(backend): add library to handle os errors ml-65
  package-lock.json
  package.json
Labels: root

refactor: update properties in meeting-status-badge ml-282
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
Labels: none

refactor(backend): rename files to match the B38 rule ml-65
  apps/backend/src/libs/modules/cloud-formation/libs/enums/enums.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameter-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/stack-prefix.enum.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/create-meeting-form-default-values.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password-type.enum.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/is-zoom-link.helper.ts
Labels: shared

refactor(frontend): fix invalid token action notification ml-174
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
Labels: none

refactor(backend): rename files to match the B38 rule ml-65 (#334)
  apps/backend/src/libs/modules/cloud-formation/libs/enums/enums.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameter-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/stack-prefix.enum.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/create-meeting-form-default-values.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password-type.enum.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/is-zoom-link.helper.ts
Labels: shared

feat(backend): allow all requests from websockets ml-182
  apps/backend/src/libs/plugins/method-guard/libs/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
Labels: none

refactor(backend): create types for endpoints in user.controller ml-65
  apps/backend/src/modules/users/libs/types/delete-avatar-options.type.ts
  apps/backend/src/modules/users/libs/types/get-current-user-options.type.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/update-profile-options.type.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

fix(backend/shared): fix function name to checkIfZoomLinkIsValid ml-263
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/libs/helpers/convert-to-zoom-web-client-url/convert-to-zoom-web-client-url.helper.ts
Labels: shared

refactor(backend): delete request from APIHandlerOptions ml-65
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/users/libs/types/upload-avatar-options.type.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(backend): delete errors from user.controller ml-65
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(backend): delete unused variables and move types to separate files ml-65
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  apps/backend/src/libs/modules/aws/libs/types/delete-options.type.ts
  apps/backend/src/libs/modules/aws/libs/types/types.ts
  apps/backend/src/libs/modules/aws/libs/types/upload-options.type.ts
Labels: none

refactor(bot): use must modal verb ml-300
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: none

refactor(backend): replace responses with errors ml-182
  apps/backend/src/libs/enums/fastify-hook.enum.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
Labels: none

fix: audio duration ml-313
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/track-duration.enum.ts
  apps/frontend/src/libs/enums/track-string-padding.enum.ts
  apps/frontend/src/libs/helpers/format-duration.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

feat: disable export button during the meeting ml-330
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

feat(frontend, shared): use consistent datetime format ml-308
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/datetime-format.enum.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

refactor(frontend): fix invalid token notification while navigate ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/pages/auth/auth.tsx
Labels: none

fix(frontend): button on mobile width ml-286
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
Labels: none
