Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat: add label suffix ml-40
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
Labels: none

feat: add error label styles ml-40
  apps/frontend/src/libs/components/input/input.tsx
Labels: none

refactor: use isClickable flag ml-40
  apps/frontend/src/libs/components/icon/icon.tsx
Labels: none

refactor: remove label suffix ml-40
  apps/frontend/src/libs/components/input/styles.module.css
Labels: none

refactor: use bem naming ml-40
  apps/frontend/src/libs/components/input/libs/maps/icon-position-to-class.map.ts
  apps/frontend/src/libs/components/input/libs/maps/input-padding-to-class.map.ts
Labels: none

feat: add useSearch hook ml-41
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/search-input/search-input.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search-hook.ts
Labels: none

fix: searchField is passed as a parameter to the hook ml-41
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: hook file name ml-41
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: rebase to main branch ml-41
  apps/frontend/src/libs/components/icon/icon.tsx
  apps/frontend/src/libs/components/input/libs/maps/icon-position-to-class.map.ts
  apps/frontend/src/libs/components/input/libs/maps/input-padding-to-class.map.ts
  apps/frontend/src/libs/components/input/libs/maps/maps.ts
  apps/frontend/src/libs/components/search-input/search-input.tsx
Labels: none

refactor: remove unnecessary labelStyle in input.tsx ml-6
  apps/frontend/src/libs/components/input/input.tsx
Labels: none

refactor: deleted notification from actions.ts and use storage module for saving token ml-6
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-message.enum.ts
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: none

feat: add onFocus event for inputs ml-6
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: none

fix: add useNative into meetings table ml-29
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
Labels: none

refactor: remove unused notification from store.module.ts ml-6
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

fix: change id type in api options ml-29
  apps/backend/src/modules/meetings/libs/types/find-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/update-meeting-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

refactor: restructure Layout to use RouterOutlet and clean up sidebar styling ml-60
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/components/sidebar/styles.module.css
Labels: none

feat: debouncing in useAppSearch hook ml-41
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/search-input/search-input.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/search-debounce-delay.enum.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: remove unnecessary variables ml-41
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
Labels: none

fix: move update instance to end meeting function ml-31
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat: add sign in form ml-6 (#48)
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/auth.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/default-values/sign-in.default-values.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: none

fix: change id type in delete-meeting-options ml-29
  apps/backend/src/modules/meetings/libs/types/delete-meeting-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: change params types back ml-29
  apps/backend/src/modules/meetings/libs/types/delete-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-all-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/update-meeting-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix: delete meeting service from cloud formation ml-31
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/modules/meetings/meetings.ts
Labels: none

feat: add Layout component ml-60 (#71)
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/hidden-header-routes.constant.ts
Labels: none

feat: add not found page ml-52 (#68)
  apps/frontend/src/assets/img/404.png
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
Labels: none

refactor: move logout from auth to app ml-53
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/pages/auth/auth.tsx
Labels: none

fix: wrong className type ml-40
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

fix: meeting service ml-31
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

fix: reusable input className type ml-40 (#75)
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: none

feat: add profile page ml-56
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

refactor: use CSS variables for colors in start meeting button and fix stylelint order ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/meeting-form/meeting-form.module.css
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/meeting-form/styles.module.css
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
Labels: none

fix: change logic in useAppSearch hook ml-41
  apps/frontend/src/libs/components/search-input/search-input.tsx
  apps/frontend/src/libs/helpers/debounce.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: safely compose input classNames to apply both base and custom styles ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/meeting-form/styles.module.css
  apps/frontend/src/libs/components/modal/styles.module.css
Labels: none

feat: add continuous delivery ml-3
  .github/workflows/cd.yml
  .release-please-manifest.json
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  package.json
  packages/shared/src/libs/enums/app-environment.enum.ts
  prepare-build.sh
  release-please-config.json
Labels: root, workflows, shared

fix: remove postinstall script ml-3
  package-lock.json
  packages/shared/package.json
Labels: root, shared

fix: change parameters ml-41
  apps/frontend/src/libs/components/search-input/search-input.tsx
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: swagger ui authorization issue ml-72
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

refactor: allow Swagger docs for all API versions ml-72
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

bug report template
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflows

refactor: add swagger paths to white routes ml-72
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
