Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix(backend): add checkIfMeetingOwner ml-143
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

fix(backend): add node env ml-148
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(bot): add check if instal jq ml-148
  apps/bot/setup-ec2.sh
Labels: none

fix(backend): add single quote to settings ml-148
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

refactor: never run open ai ml-148
  apps/bot/src/index.ts
Labels: none

feat(frontend): create MeetingDetails page to insert PlayerTrack component ml-62
  apps/backend/package.json
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/libs/enums/api-path.enum.ts
Labels: shared

refactor(frontend): change route names to match branch 131 ml-62
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  package-lock.json
  packages/shared/src/libs/enums/api-path.enum.ts
Labels: root, shared

feat: add landing page structure, components and assets ml-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/landing/meeting/meeting-transcript.png
  apps/frontend/src/assets/img/landing/meeting/meeting-waiting-modal.png
  apps/frontend/src/index.tsx
  apps/frontend/src/pages/landing/components/components.ts
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-footer/styles.module.css
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  apps/frontend/src/pages/landing/components/landing-hero/landing-hero.tsx
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/navigation-links.ts
  apps/frontend/src/pages/landing/landing-page.tsx
  apps/frontend/src/pages/landing/styles.module.css
Labels: none

refactor: add aria-label ml-59
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
Labels: none

fix(bot): set up audio as ubuntu user ml-148
  apps/bot/package.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  package-lock.json
Labels: root

feat(frontend): add form reset ml-56
  apps/frontend/src/libs/hooks/use-app-form/use-app-form.hook.ts
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
Labels: none

refactor(frontend): fix profile page location ml-56
  apps/frontend/src/index.tsx
Labels: none

refactor(backend): fix user constants ml-56
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/repository.constant.ts
  apps/backend/src/modules/users/user-details.repository.ts
Labels: none

refactor(frontend): change meeting id to link ml-148
  apps/bot/.env.example
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared, env

refactor(backend/bot): change meeting id to link ml-148
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

refactor(bot): change logic goto is meeting link ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

chore(bot): delete helper build-query-parameters ml-148
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

fix(bot): correct meeting id to meeting link ml-148
  apps/bot/setup-ec2.sh
Labels: none

refactor(frontend): change route names according to the mentor's requirements ml-62
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  packages/shared/src/libs/enums/api-path.enum.ts
Labels: shared

refactor(frontend): remove redundant pending check ml-56
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

refactor(frontend): simplified user getProfile action ml-56
  apps/frontend/src/modules/users/slices/actions.ts
Labels: none

refactor(frontend): change ValueOf importe ml-62
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

refactor(frontend): fix profile form cancel button variant ml-56
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
Labels: none

fix(frontend): restore version in backend/package.json ml-62
  apps/backend/package.json
Labels: none

fix(bot): convert link to web client ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): change Icon import path ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

refactor(frontend): use configureString ml-62
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

refactor(frontend): replace div with span ml-62
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: none

refactor(bot): delete open ai logic from index ml-148
  apps/bot/goto.png
  apps/bot/src/index.ts
Labels: none

refactor(frontend): change AppRoute import path ml-62
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  package-lock.json
Labels: root

refactor(bot): never run open ai ml-148
  apps/bot/src/index.ts
Labels: none

refactor(bot): change logic goto is meeting link ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): change meeting id to link ml-148
  apps/bot/.env.example
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared, env

fix(bot): set up audio as ubuntu user ml-148
  apps/bot/package.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  package-lock.json
Labels: root

refactor(bot): delete open ai logic from index ml-148
  apps/bot/goto.png
  apps/bot/src/index.ts
Labels: none

chore(bot): delete helper build-query-parameters ml-148
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

fix(bot): convert link to web client ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(bot): correct meeting id to meeting link ml-148
  apps/bot/setup-ec2.sh
Labels: none

refactor(backend/bot): change meeting id to link ml-148
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

refactor(backend, shared): public url path and response dto ml-143
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-get-public-url-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-public-url-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
