Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

fix: update main ml-206
  package-lock.json
Labels: root

fix: change title max length ml-206
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
Labels: shared

fix(frontend): add logic when meeting status ended hide indicator ml-243
  apps/frontend/src/libs/components/transcription-panel/components/live-transcription/live-transcription.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

fix(frontend): add ref to queue because state async ml-243
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

fix(backend): make meeting card creation quicker ml-144
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

chore: update app version ml-144
  package-lock.json
Labels: root

Revert "fix(backend): make meeting card creation quicker ml-144"
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(frontend): hook take from state no props ml-243
  apps/frontend/src/libs/hooks/use-fetch-transcription/use-fetch-transcription.hook.ts
Labels: none

refactor(frontend): change props to state ml-243
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(frontend): change props to state,move token to use-fetch ml-243
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: none

fix(frontend): speed up typing animation ml-243
  apps/frontend/src/libs/constants/type-speed.constant.ts
Labels: none

refactor(bot): move bot initialization to run method ml-144
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(frontend): add self close tag, rename to handle-add-chunk ml-243
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.tsx
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: none

refactor(bot): start audio recording after socket connection ml-141
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: change meetingTitle to title ml-206
  apps/backend/src/db/migrations/20250822025301_add_meetings_title.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

refactor(bot): start recording after getting url ml-141
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "refactor(bot): move bot initialization to run method ml-144"
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "refactor(bot): start audio recording after socket connection ml-141"
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "refactor(bot): start recording after getting url ml-141"
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "Revert "refactor(bot): start audio recording after socket connection ml-141""
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: feat seamless transcript updates with typing animation ml-243 (#278)
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/transcription-panel/components/live-transcription/live-transcription.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/components/typing-indicator/libs/enums/enums.ts
  apps/frontend/src/libs/components/typing-indicator/libs/enums/indicator-variant.enum.ts
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.module.css
  apps/frontend/src/libs/components/typing-indicator/typing-indicator.tsx
  apps/frontend/src/libs/constants/type-speed.constant.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-auto-scroll/use-auto-scroll.ts
  apps/frontend/src/libs/hooks/use-fetch-transcription/use-fetch-transcription.hook.ts
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

feat(bot): remove delays ml-144
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

Revert "feat(bot): remove delays ml-144"
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(frontend): remove unnesasery clear ml-274
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix(frontend): replace array mapping with joined string in PDF rendering ml-281
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: time formatting ml-284
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

fix: time formatting on meeting card ml-284 (#291)
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/libs/types/date-format.type.ts
Labels: shared

chore(backend): switch branch to main ml-144
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix(frontend): clear meeting details and transcription on exit ml-274
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

fix: prevent stale meeting error by clearing state on unmount ml-274 (#290)
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

feat(frontend): add bullet markers to each transcription line ml-281
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: changed rings animation and add swipe for testimonials on mobile ml-293
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

ci(backend): delete @rollup/rollup-linux-x64-gnu library ml-65
  package-lock.json
  package.json
Labels: root

fix: changed rings animation and add swipe for testimonials on mobile ml-293
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

fix: change title validation ml-206
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

feat: handle network errors ml-173
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/is-network-error.helper.ts
Labels: none

fix: change package-lock.json ml-206
  package-lock.json
Labels: root

ci(backend): reinstall dependencies with the help of docker container ml-65
  package-lock.json
Labels: root

fix: change empty string to null and add title to pdf ml-206
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(backend): rename boolean variables ml-65
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/modules/users/libs/types/user-avatar.dto.type.ts
Labels: shared

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
