Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(bot): change types for transcription ml-108
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
Labels: none

feat(bot): add method onChunk observer to get path ml-108
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
Labels: none

feat(bot): add to bot socket open ai ml-108
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
Labels: none

feat: add meeting public url ml-143 (#163)
  apps/backend/.env.example
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/libs/types/shared-jwt-payload.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/meetings/libs/types/get-public-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/types/verify-url-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-get-public-url-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
  readme.md
Labels: root, shared, env

fix(frontend): expand backdrop ml-155
  apps/frontend/src/libs/components/header/libs/components/mobile-menu/styles.module.css
Labels: none

fix(frontend): remove unnesasary style ml-155
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix: fix env variable name ml-132
  apps/bot/setup-ec2.sh
Labels: none

refactor(frontend): move MobileMenu to Layoute ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/mobile-menu.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

feat: add draft meeting details screen ml-131
  apps/backend/.env.example
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/libs/types/shared-jwt-payload.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/meetings/libs/types/get-public-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/types/verify-url-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/libs/modules/api/api.ts
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-get-public-url-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared, env

refactor(backend): fix user contoller type ml-56
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

feat(backend): add findByEmailWithDetails ml-56
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend): fix user untity details method ml-56
  apps/backend/src/modules/users/user.entity.ts
Labels: none

refactor(frontend): fix edit profile messages ml-56
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/modules/users/slices/actions.ts
Labels: none

fix(frontend): fix header scrolling ml-155
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

refactor(backend): fix user controller HTTP methods ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

chore(frontend): update dependenciesg ml-155
  package-lock.json
Labels: root

fix: move to redux usage ml-131
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

fix: change stiop full recrording calling ml-132
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(frontend): limit width of main layout ml-155
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

fix(frontend): fix icon names ml-155
  apps/frontend/src/assets/img/icons/burger-close.svg
  apps/frontend/src/assets/img/icons/burger-menu.svg
  apps/frontend/src/assets/img/icons/close-icon.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: none

fix: update base-zoom ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(backend): delete instance public dns ml-108
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix(frontend): fix logo-mobile size ml-155
  apps/frontend/src/assets/img/logo/meetlytic-logo-mobile.svg
Labels: none

fix: update full audio recording logic in base-zoom-bot.ts ml-132
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(frontend): replace handleLogout with onLogout in props ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/layout/layout.tsx
Labels: none

feat(backend, shared): add stop recording endpoint ml-160
  apps/backend/src/modules/meetings/libs/types/stop-recording-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

refactor(frontend): improve naming and structure of components ml-155
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/mobile-menu.tsx
Labels: none

fix: update base-audio-recorder.ts ml-132
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

feat(frontend): add z-indexes to global variables ml-155
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
Labels: none

refactor(backend): change meeting_ref_id to meeting_id ml-108
  apps/backend/src/db/migrations/20250809172109_add_meeting_transcription_table.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-transcriptions-attributes.enum.ts
  apps/backend/src/modules/meetings/meeting-transcription.model.ts
  apps/backend/src/modules/meetings/meeting-transcription.repository.ts
  apps/backend/src/modules/meetings/meetings.model.ts
Labels: none

refactor(frontend): add handleGetLogo instead if ml-155
  apps/frontend/src/libs/components/logo/logo.tsx
Labels: none

refactor(frontend): improve naming and structure of components ml-155
  apps/frontend/src/libs/components/layout/layout.tsx
Labels: none

refactor(backend): correct b23, merge export ml-108
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-transcriptions-attributes.enum.ts
  apps/backend/src/modules/meetings/libs/exceptions/exceptions.ts
  apps/backend/src/modules/meetings/meeting-transcription.model.ts
  apps/backend/src/modules/meetings/meeting-transcription.repository.ts
  apps/backend/src/modules/meetings/meetings.model.ts
Labels: none

fix: remove '#' in setup-ec2.sh ml-132
  apps/bot/setup-ec2.sh
Labels: none

fix: update setup-ec2.sh ml-132
  apps/bot/setup-ec2.sh
Labels: none

fix(backend/bot/shared): fix enum names ml-108
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/meeting-transcription.model.ts
  apps/backend/src/modules/meetings/meeting-transcription.service.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/timeout.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/enums.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-messages.enum.ts
  packages/shared/src/libs/modules/socket/socket.ts
Labels: shared

refactor(bot): change function name to transcribe ml-108
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  package-lock.json
Labels: root

fix(backend/bot/shared): fix review issues ml-108
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared

refactor: add file_id to user_details ml-65
  apps/backend/src/db/migrations/20250813153105_add_file_id_to_user_details.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/modules/users/libs/enums/column-name.enum.ts
  apps/backend/src/modules/users/user-details.entity.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.service.ts
  package-lock.json
  packages/shared/src/modules/users/libs/enums/users-api-path.enum.ts
Labels: root, shared

refactor(frontend): move configs to enums, rename boolean props, and update feature style ml-59
  apps/frontend/src/libs/enums/carousel-config.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/styles.module.css
  apps/frontend/src/pages/landing/constants/feature-data.constants.ts
  apps/frontend/src/pages/landing/types/feature.type.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
