Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(backend): change condition ml-65
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend): change filename ml-65
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-avatar-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-with-details-dto.type.ts
Labels: shared

refactor(backend): change filename ml-65
  packages/shared/src/modules/files/libs/enums/enums.ts
  packages/shared/src/modules/files/libs/enums/upload-error-message.enum.ts
Labels: shared

fix(backend/shared): create helper convert to wc link ml-263
  apps/backend/src/libs/helpers/helpers.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/zoom-error-regex.constant.ts
  packages/shared/src/libs/constants/zoom-join-path-regex.constant.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/zoom-path.enum.ts
  packages/shared/src/libs/helpers/convert-to-zoom-web-client-url/convert-to-zoom-web-client-url.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
Labels: shared

feat(backend/shared): create helper is zoom link valid ml-263
  packages/shared/src/libs/helpers/is-zoom-link-valid/is-zoom-link-valid.helper.ts
Labels: shared

feat(backend/shared): add logic check is current link valid ml-263
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared

fix(backend): delete console log ml-263
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor(backend): use destructuring of code ml-65
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/modules/files/libs/enums/file-error-message.enum.ts
Labels: shared

fix(frontend): delete unused styles header ml-287
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix(frontend): fix scroll for all media and vertical ml-287
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: none

feat(frontend): change layout for details page ml-287
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

docs(backend): change db schema ml-65
  readme.md
Labels: root

fix(frontend): add responsiveness ml-287
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

feat: bot sends message to the chat ml-144 (#261)
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/server-to-client-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/.env.example
  apps/frontend/src/libs/helpers/share-meeting-public-url.helper.ts
  apps/frontend/src/libs/modules/config/base-config.module.ts
  apps/frontend/src/libs/modules/config/libs/types/environment-schema.type.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
Labels: shared, env

chore(frontend): update dependencies ml-281
  package-lock.json
Labels: root

fix: prevent react-pdf error when switching meeting cards ml-281 (#294)
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

fix(shared): fix enum zoom path ml-263
  packages/shared/src/libs/enums/zoom-path.enum.ts
  packages/shared/src/libs/helpers/convert-to-zoom-web-client-url/convert-to-zoom-web-client-url.helper.ts
Labels: shared

feat: add meeting status update ml-282
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/enums/enums.ts
  apps/backend/src/libs/modules/socket/libs/types/server-to-client-events.type.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/meeting-status-badge/meeting-status-badge.tsx
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
  apps/frontend/src/libs/hooks/use-meeting-socket/use-meeting-socket.ts
  apps/frontend/src/modules/meeting-details/libs/types/types.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-status.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-status-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat(bot): chage action items prompt to include only title and description ml-300
  apps/bot/src/libs/constants/open-ai.constants.ts
  package-lock.json
Labels: root

feat(backend): switch to feat branch ml-300
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: auto scrolling on meeting detail page creates navigation issue after recording ml-287 (#299)
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

feat: add migration ml-282
  apps/backend/src/db/migrations/20250818155648_add_new_fields_to_meeting_status.ts
Labels: none

fix(backend): change name of method ml-263
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat: add meeting ended status handling ml-282
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-message.enum.ts
Labels: shared

fix: change visibility condition for stop recording button ml-282
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: none

refactor(bot): increase delays ml-300
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor(bot): click join button once ml-300
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(backend): add sort logic by created at sorted order desc ml-303
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
Labels: none

feat(backend): make cpu credits unlimited ml-300
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat(backend): add not found handler for api ml-182
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/not-found-handler/not-found-handler.ts
  package-lock.json
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: root, shared

fix(bot): exlude full recording from files listener ml-300
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-file-type.enum.ts
Labels: none

feat(bot): add error logs to audio recorder ml-300
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-event.enum.ts
Labels: none

fix(backend): add sort logic by created at sorted order desc ml-303 (#315)
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
Labels: none

Revert "feat(backend): make cpu credits unlimited ml-300"
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-file-type.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-event.enum.ts
Labels: none

feat(backend): add method guard plagin ml-182
  apps/backend/package.json
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/not-found-handler/not-found-handler.ts
  apps/backend/src/libs/plugins/method-guard/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
  package-lock.json
Labels: root

refactor(backend): put export for plugins into one file ml-182
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/plagins.ts
Labels: none

refactor(backend): put matchRoutes into libs folder ml-182
  apps/backend/src/libs/plugins/method-guard/libs/match-route.ts
  apps/backend/src/libs/plugins/method-guard/method-guard.plugin.ts
Labels: none

feat(bot, backend): logg full stderr ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): increase delays of chat buttons ml-305
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot, backend): make cpu credits unlimited ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
