Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(frontend): move modal to separate component ml-102
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

refactor(frontend): simplify classname ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

refactor(shared): add date format type ml-102
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/format-date/format-date.ts
  packages/shared/src/libs/types/date-format.type.ts
  packages/shared/src/libs/types/types.ts
Labels: shared

refactor(frontend): change Link import ml-102
  apps/frontend/src/index.tsx
Labels: none

refactor(frontend): create explicit format type for date ml-62
  apps/frontend/src/libs/helpers/format-date.ts
  apps/frontend/src/libs/types/date-format.ts
Labels: none

fix: remove loopback and add sink debugger ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: make logo size adaptive and visually balanced on all screens ml-121
  apps/frontend/src/libs/components/logo/styles.module.css
Labels: none

fix: make logo size adaptive and visually balanced on all screens ml-121
  apps/frontend/src/libs/components/logo/styles.module.css
Labels: none

fix: use xvbf-run in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
Labels: none

refactor(frontend): extract Layout from App ml-102
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  packages/shared/src/index.ts
Labels: shared

feat: display all meetings ml-102 (#123)
  .ls-lint.yml
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/assets/img/meeting-placeholder.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/constants/navigation-items.constant.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
  package-lock.json
  packages/shared/package.json
  packages/shared/src/index.ts
  packages/shared/src/libs/helpers/format-date/format-date.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/types/date-format.type.ts
  packages/shared/src/libs/types/types.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: root, shared

fix: change executeblePath in base-config ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: change viewport ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

feat: add uploading avatar to the bucket ml-65
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  package-lock.json
Labels: root

fix: update SignUp and SignIn styles ml-134
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  package-lock.json
Labels: root

fix: make logo size adaptive and visually balanced on all screens ml-121 (#138)
  apps/frontend/src/libs/components/logo/styles.module.css
Labels: none

fix(frontend): remove duplicate helper DateFormat ml-62
  apps/frontend/src/libs/helpers/format-date.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/types/date-format.ts
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  package-lock.json
  package.json
  packages/shared/src/libs/types/date-format.type.ts
Labels: root, shared

feat: add database schema ml-4
  readme.md
Labels: root

feat(frontend): add a temporary page to demonstrate the component ml-62
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/player-track-demo-temporary/player-track-demo-temporary.tsx
Labels: none

refactor(frontend): remove unnecessary getValidClassNames ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

fix: fix setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: none

fix: remove sudo, folder creation and debug log from sink ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: add folder creation and give permision for it ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: add permission to repo folder ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: add permission to repo root before launch setup-ec2.sh ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

fix: update SignUp and SignIn styles ml-134 (#140)
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  package-lock.json
Labels: root

fix: fix config virtual sink, add logs ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: remove prettier ignore ml-4
  readme.md
Labels: root

refactor: mvp hell ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/src/libs/constants/timeouts.constants.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

refactor: mvp hell.2 ml-44
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat: add database schema ml-4 (#141)
  readme.md
Labels: root

fix: remove OPEN_AI ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix: fix ml-44
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
Labels: none

fix: rollback open-ai ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix: rollback a rollback ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix: fix ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: rollback ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: rollback ml-44
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: constants ml-44
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

feat(frontend): move the playertrack to meeteng screen ml-62
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/components/player-track-demo-temporary/player-track-demo-temporary.tsx
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
