Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

feat: add custom template for issues on github ml-99999
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflows

fix: add memoization in hook ml-41
  apps/frontend/src/libs/helpers/debounce.helper.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
Labels: none

fix: activate validation.body.parse in the BaseController ml-74
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

feat: add custom template for issues on github ml-99999
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflows

refactor: create store reset action creator ml-53
  apps/frontend/src/libs/hooks/use-logout/use-logout.hook.ts
  apps/frontend/src/libs/modules/middlewares/reset-listener.middleware.ts
  apps/frontend/src/libs/modules/store/actions.ts
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

feat: add search input ml-41 (#51)
  apps/frontend/src/assets/img/icons/search.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/search-input/search-input.tsx
  apps/frontend/src/libs/components/search-input/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/search-debounce-delay.enum.ts
  apps/frontend/src/libs/helpers/debounce.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-app-search/use-app-search.hook.ts
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: none

refactor: inject storage to listener ml-53
  apps/frontend/src/libs/modules/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/middlewares/reset-listener.middleware.ts
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

refactor: simplify white routes for Swagger UI using regex ml-72
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

refactor: change route for swagger in white routes ml-72
  apps/backend/src/libs/constants/white-routes.constant.ts
Labels: none

refactor: rename store reset action creator ml-53
  apps/frontend/src/libs/hooks/use-logout/use-logout.hook.ts
  apps/frontend/src/libs/modules/middlewares/reset-listener.middleware.ts
  apps/frontend/src/libs/modules/store/actions.ts
  apps/frontend/src/libs/modules/store/store.module.ts
Labels: none

refactor: rename reset middleware file ml-53
  apps/frontend/src/libs/modules/middlewares/create-reset-listener.middleware.ts
  apps/frontend/src/libs/modules/middlewares/middlewares.ts
Labels: none

refactor: use arrow function for reset middleware ml-53
  apps/frontend/src/libs/modules/middlewares/create-reset-listener.middleware.ts
Labels: none

fix: linter error ml-53
  apps/frontend/src/libs/components/app/app.tsx
Labels: none

refactor: remove magic numbers, update meeting form defaults and types ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/meeting-form/libs/meeting-form.default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form-default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/types/meeting-form-data.type.ts
  packages/shared/src/libs/types/types.ts
Labels: shared

refactor: move logout button to header ml-53
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix: allow access to Swagger UI ml-72 (#80)
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: none

refactor: move logout action to auth store ml-53
  apps/frontend/src/libs/hooks/use-logout/use-logout.hook.ts
  apps/frontend/src/libs/modules/middlewares/create-reset-listener.middleware.ts
  apps/frontend/src/libs/modules/middlewares/middlewares.ts
  apps/frontend/src/libs/modules/store/actions.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.ts
Labels: none

feat: implement meeting creation form and integration ml-30
  apps/frontend/src/libs/components/meeting-form/meeting-form-default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/modules/api/api.ts
  apps/frontend/src/libs/modules/api/create-meeting-api.ts
Labels: none

refactor(frontend): delete unused code ml-64
  apps/frontend/src/assets/img/react.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users.ts
Labels: none

refactor: restructure meeting module and modal logic ml-30
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/app/styles.module.css
  apps/frontend/src/libs/components/meeting-form/libs/meeting-form.default-values.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/modal/modal.tsx
  apps/frontend/src/libs/components/modal/styles.module.css
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/modules/api/create-meeting-api.ts
  apps/frontend/src/libs/types/types.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/types/create-meeting-request-dto.type.ts
  packages/shared/src/libs/types/meeting-form-data.type.ts
  packages/shared/src/libs/types/types.ts
Labels: shared

feat: add aws integration ml-31 (#49)
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/enums/enums.ts
  apps/backend/src/libs/exceptions/cloud-formation.exception.ts
  apps/backend/src/libs/exceptions/exceptions.ts
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/capability.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/enums.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/output-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/stack.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/cloud-formation.type.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/types.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  eslint.config.js
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/exception-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: root, shared, env

refactor: add icon to logout button ml-53
  apps/frontend/src/assets/img/icons/logout.svg
  apps/frontend/src/assets/img/icons/placeholder-avatar.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/types/icon-name.type.ts
Labels: none

feat: add logger ml-43
  apps/bot/src/libs/modules/logger/base-logger.module.ts
  apps/bot/src/libs/modules/logger/libs/types/logger.type.ts
  apps/bot/src/libs/modules/logger/libs/types/types.ts
  apps/bot/src/libs/modules/logger/logger.ts
Labels: none

chore: add pino ml-43
  apps/bot/package.json
Labels: none

feat: add new env variables ml-43
  apps/bot/.env.example
Labels: env

feat: add constants to zoom bot ml-43
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/meeting.constants.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
Labels: none

feat: create helper function delay ml-43
  apps/bot/src/libs/helpers/delay.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
Labels: none

feat: add variables to config ml-43
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

feat: add enums ui label ml-43
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat: add bot to join meeting ml-43
  apps/bot/src/puppeteer.ts
Labels: none

feat: add parameters key ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
Labels: none

refactor: change create stack type ml-43
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
Labels: none

refactor: change import of useNavigate ml-53
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-logout/use-logout.hook.ts
Labels: none

fix: add user to map-request ml-88
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix: add auth header to users route ml-84
  apps/frontend/src/modules/users/users-api.ts
Labels: none

fix: add auth header to users route ml-84 (#91)
  apps/frontend/src/modules/users/users-api.ts
Labels: none

fix: add custom error during login with invalid credentoals ml-85
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: none

refactor(frontend): delete loadAll action ml-64
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users.ts
Labels: none

refactor: add notification enum message ml-85
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: none

refactor: rename prop ml-85
  apps/frontend/src/modules/auth/slices/actions.ts
Labels: none

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
