Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

refactor(backend, shared): use HTTPMethod enum ml-143
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/users/user.controller.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
Labels: shared

refactor(bot): fix typo in filename from zoom-bote.type to zoom-bot.type ml-148
  apps/bot/src/libs/modules/zoom/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/libs/types/zoom-bot.type.ts
Labels: none

feat: add plugin for upload avatar ml-65
  apps/backend/package.json
  apps/backend/src/db/migrations/20250807194934_add_avatar_columns_to_user_details.ts
  apps/backend/src/db/migrations/20250810081202_add_files_table_and_remove_avatar_columns.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/file-upload.constants.ts
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  apps/backend/src/libs/modules/aws/s3.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/files/libs/enums/enums.ts
  apps/backend/src/modules/files/libs/enums/table-name.enum.ts
  apps/backend/src/modules/files/libs/types/file.type.ts
  apps/backend/src/modules/files/libs/types/types.ts
  apps/backend/src/modules/users/user-avatar.service.ts
  apps/backend/src/modules/users/user-details.model.ts
  apps/backend/src/modules/users/user-details.repository.ts
  apps/backend/src/modules/users/user.controller.ts
  apps/backend/src/modules/users/user.entity.ts
  apps/backend/src/modules/users/user.model.ts
  apps/backend/src/modules/users/user.repository.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  package-lock.json
  package.json
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/users/libs/types/user-response-dto.type.ts
Labels: root, shared

fix(backend): add hasZodFastifySchemaValidationErrors condition ml-162
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

refactor(backend): put things in order with correct names ml-162
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

chore(bot): delete log screen ml-148
  apps/bot/goto.png
Labels: none

chore(backend): npm install ml-162
  package-lock.json
Labels: root

refactor(backend): fix user controller HTTP methods ml-56
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

feat(backend, shared): add url verification endpoint ml-143
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/types/verify-url-options.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: shared

feat(bot): add handle empty password ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(backend): add missing field interception ml-162
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: none

feat: add playwright tests ml-166
  .ls-lint.yml
  .prettierignore
  knip.config.ts
  package-lock.json
  package.json
  prettier.config.js
  tests/.github/workflows/playwright.yml
  tests/.gitignore
  tests/.prettierrc
  tests/api/controllers/api-controllers.ts
  tests/api/controllers/auth-controller.ts
  tests/api/helpers/dynamic-user-generator.ts
  tests/api/helpers/email-generator.ts
  tests/api/helpers/first-last-name-generator.ts
  tests/api/helpers/get-random-chars.ts
  tests/api/helpers/jwt-validator.ts
  tests/api/helpers/password-generator.ts
  tests/api/schemas/authenticated-user-response.ts
  tests/api/schemas/schema-validator.ts
  tests/api/schemas/valid-signup-response.ts
  tests/package-lock.json
  tests/package.json
  tests/playwright.config.ts
  tests/tests/authentication/JWT-testcases/JWT-generation.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-negative.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-positive.spec.ts
  tests/tests/authentication/signin/sign-in-negative.spec.ts
  tests/tests/authentication/signin/sign-in-positive.spec.ts
  tests/tests/authentication/signup/email-validation-negative.spec.ts
  tests/tests/authentication/signup/email-validation-positive.spec.ts
  tests/tests/authentication/signup/firstname-validation-negative.spec.ts
  tests/tests/authentication/signup/firstname-validation-positive.spec.ts
  tests/tests/authentication/signup/lastname-validation-negative.spec.ts
  tests/tests/authentication/signup/lastname-validation-positive.spec.ts
  tests/tests/authentication/signup/password-validation-negative.spec.ts
  tests/tests/authentication/signup/password-validation-positive.spec.ts
Labels: root

fix(backend): meetings docs ml-143
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: none

refactor(backend): fix column name enum ml-56
  apps/backend/src/libs/modules/database/abstract.model.ts
  apps/backend/src/modules/users/libs/enums/column-name.enum.ts
Labels: none

refactor(backend): fix user controller error ml-56
  apps/backend/src/modules/users/libs/enums/enums.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

feat(backend, shared): add summary and actionItems to find by id method ml-143
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat: create player track component ml-62 (#135)
  apps/backend/package.json
  apps/frontend/src/assets/img/icons/pause.svg
  apps/frontend/src/assets/img/icons/play.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/audio-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/constants/percent-multiplier.constant.ts
  packages/shared/src/libs/constants/start-time.constant.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: root, shared

refactor(frontend): fix get user profile ml-56
  apps/frontend/src/pages/profile/profile.tsx
Labels: none

feat: add meeting details screen ml-131
  apps/frontend/src/assets/img/icons/share.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/components/public-layout/styles.module.css
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/modules/api/api.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: none

refactor(bot): convert isJoinSegment from function declaration to arrow function ml-148
  apps/backend/src/modules/meetings/libs/helpers/extract-zoom-meeting-id.helper.ts
Labels: none

refactor(bot): return open ai transcribe ml-148
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

refactor(backend): fix HTTP methods imports ml-56
  apps/backend/src/modules/users/libs/enums/enums.ts
Labels: none

refactor(bot): rename function to a more descriptive name ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/libs/types/zoom-bot.type.ts
Labels: none

feat(shared): validate Zoom meeting link hostname and path format ml-148
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: shared

refactor(backend): change variable name ml-148
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat(backend): add user details type ml-56
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/libs/types/user-details.type.ts
  apps/backend/src/modules/users/user-details.repository.ts
Labels: none

refactor(backend): change git clone branch to main ml-148
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: fixed lint errors add playwright tests ml-166
  tests/api/controllers/api-controllers.ts
  tests/api/controllers/auth-controller.ts
  tests/api/helpers/dynamic-user-generator.ts
  tests/api/helpers/email-generator.ts
  tests/api/helpers/first-last-name-generator.ts
  tests/api/helpers/get-random-chars.ts
  tests/api/helpers/jwt-validator.ts
  tests/api/helpers/password-generator.ts
  tests/api/schemas/authenticated-user-response.ts
  tests/api/schemas/schema-validator.ts
  tests/api/schemas/valid-signup-response.ts
  tests/playwright.config.ts
  tests/tests/authentication/JWT-testcases/JWT-generation.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-negative.spec.ts
  tests/tests/authentication/authenticated-user/authenticated-user-positive.spec.ts
  tests/tests/authentication/signin/sign-in-negative.spec.ts
  tests/tests/authentication/signin/sign-in-positive.spec.ts
  tests/tests/authentication/signup/email-validation-negative.spec.ts
  tests/tests/authentication/signup/email-validation-positive.spec.ts
  tests/tests/authentication/signup/firstname-validation-negative.spec.ts
  tests/tests/authentication/signup/firstname-validation-positive.spec.ts
  tests/tests/authentication/signup/lastname-validation-negative.spec.ts
  tests/tests/authentication/signup/lastname-validation-positive.spec.ts
  tests/tests/authentication/signup/password-validation-negative.spec.ts
  tests/tests/authentication/signup/password-validation-positive.spec.ts
Labels: none

feat(backend): add meeting_transcriptions table with foreign key to meetings ml-108
  apps/backend/src/db/migrations/20250809172109_add_meeting_transcription_table.ts
Labels: none

feat(backend): add table name meeting_transcriptions ml-108
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
Labels: none

refactor(backend): fix user service user data naming ml-56
  apps/backend/src/modules/users/user.service.ts
Labels: none

refactor(backend): fix user controller update profile and HTTP methods imports ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(backend): inject token module ml-143
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/auth/auth.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
Labels: none

refactor(backend, shared): remove instaceId from meeting response ml-143
  apps/backend/src/modules/meetings/meetings.entity.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: shared

refactor(backend): fix user controller getCurrentUser ml-56
  apps/backend/src/modules/users/user.controller.ts
Labels: none

refactor(frontend): move landing page constants and types to dedicated files, update imports ml-59
  apps/frontend/src/assets/img/landing/meeting/meeting-waiting-modal.png
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/navigation-links.ts
  apps/frontend/src/pages/landing/constants/about-links.constants.ts
  apps/frontend/src/pages/landing/constants/company-links.constants.ts
  apps/frontend/src/pages/landing/constants/constants.ts
  apps/frontend/src/pages/landing/constants/contact-links.constants.ts
  apps/frontend/src/pages/landing/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/landing-page.tsx
  apps/frontend/src/pages/landing/types/link-group.type.ts
  apps/frontend/src/pages/landing/types/nav-link.type.ts
  apps/frontend/src/pages/landing/types/types.ts
Labels: none

chore: merge updates ml-65
  package-lock.json
Labels: root

feat: add delete avatar method ml-65
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/backend/src/modules/files/file.service.ts
  apps/backend/src/modules/users/user.controller.ts
Labels: none

feat(bot): add new variables host, port ml-108
  apps/bot/.env.example
Labels: env

chore(bot): install socket io server ml-108
  apps/bot/package.json
  package-lock.json
Labels: root

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"
