Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

refactor: rename vsriables ml-65
  apps/backend/src/libs/modules/aws/base-s3.module.ts
Labels: none

refactor: remove old migrations ml-65
  apps/backend/src/db/migrations/20250807194934_add_avatar_columns_to_user_details.ts
  apps/backend/src/db/migrations/20250810081202_add_files_table_and_remove_avatar_columns.ts
Labels: none

refactor: add enums for errors ml-65
  apps/backend/src/libs/modules/aws/base-s3.module.ts
  apps/backend/src/libs/modules/aws/libs/enums/enum.ts
  apps/backend/src/libs/modules/aws/libs/enums/s3-error-message.enum.ts
  apps/backend/src/libs/modules/aws/s3.ts
Labels: none

refactor: delete unused code from base-controller.module.ts ml-65
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: none

fix(bot): delete unused variables ml-108
  apps/bot/.env.example
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: env

fix(backend): meeting attribute enam correct to cemal case ml-108
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
Labels: none

feat(bot): add check chrome install on ec2 ml-108
  apps/bot/setup-ec2.sh
Labels: none

chore: change 108-branch ml-108 to main ml-108
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

refactor: combined UsersApi and UserAvatarApi into a single UsersApi ml-65
  apps/backend/src/modules/users/user-details.repository.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/user-avatar.slice.ts
  apps/frontend/src/modules/users/slices/user-avatar.thunks.ts
  apps/frontend/src/modules/users/slices/user-avatar.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/user-avatar-api.ts
  apps/frontend/src/modules/users/user-avatar.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: none

refactor: create constants ml-65
  apps/backend/src/modules/files/file.model.ts
  apps/backend/src/modules/files/file.repository.ts
  apps/frontend/src/libs/components/user-avatar-uploader/user-avatar-uploader.tsx
  apps/frontend/src/libs/constants/avatar-types.constant.ts
  apps/frontend/src/libs/constants/constants.ts
Labels: none

refactor: delete relationMappings in FileModel ml-65
  apps/backend/src/modules/files/file.model.ts
Labels: none

feat(frontend): refactor animation logic into helpers and animation of bg ml-59
  apps/frontend/src/assets/img/landing/background/bg-ring-large.svg
  apps/frontend/src/assets/img/landing/background/bg-ring-middle.svg
  apps/frontend/src/assets/img/landing/background/bg-ring-small.svg
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/landing-background.enums.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/helpers/physics.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/pages/landing/components/components.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-background/styles.module.css
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-footer/styles.module.css
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  apps/frontend/src/pages/landing/constants/about-links.constants.ts
  apps/frontend/src/pages/landing/constants/company-links.constants.ts
  apps/frontend/src/pages/landing/constants/constants.ts
  apps/frontend/src/pages/landing/constants/landing-background.constants.ts
  apps/frontend/src/pages/landing/landing-page.tsx
  apps/frontend/src/pages/landing/styles.module.css
  apps/frontend/src/pages/landing/types/landing-background.type.ts
  apps/frontend/src/pages/landing/types/types.ts
  package-lock.json
  package.json
Labels: root

fix: add separate slice ml-131
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/frontend/src/assets/img/icons/share.svg
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/meeting-details/libs/enums/enums.ts
  apps/frontend/src/modules/meeting-details/libs/types/types.ts
  apps/frontend/src/modules/meeting-details/meeting-details-api.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/modules/meeting-details/slices/meeting-details.ts
  apps/frontend/src/modules/meeting/libs/types/types.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/types/meeting-details-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat(frontend): add anchor navigation for Features section in header and footer ml-59
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/landing/components/landing-background/styles.module.css
  apps/frontend/src/pages/landing/components/landing-cta/landing-cta.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-header/styles.module.css
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/constants/company-links.constants.ts
  apps/frontend/src/pages/landing/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/styles.module.css
Labels: none

refactor: moved dependencies to frontend ml-59
  apps/frontend/package.json
  package.json
Labels: root

fix: rename file ml-131
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/zero-length.constant.ts
Labels: shared

feat(frontend): add animation for features ml-59
  apps/frontend/package.json
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  package-lock.json
Labels: root

fix(frontend): add method to catch no-internet error ml-173
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  packages/shared/src/libs/enums/server-error-type.enum.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
Labels: shared

refactor: group upload file constants into single object ml-65
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/file-upload.constants.ts
  apps/backend/src/libs/constants/memory-bytes.constants.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/uploads/upload.plugin.ts
  apps/backend/src/libs/utils/file-size.utility.ts
  apps/backend/src/libs/utils/utilities.ts
  apps/backend/src/modules/users/user-avatar.service.ts
Labels: none

feat(frontend): implement responsive design for meetings page ml-154
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

feat(frontend): implement responsive design for meetings-header ml-154
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/pages/meetings/meetings.tsx
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

feat(frontend): implement responsive design for modalr ml-154
  apps/frontend/src/libs/components/modal/styles.module.css
Labels: none

fix(frontend): remove header max-width ml-154
  apps/frontend/src/libs/components/header/styles.module.css
Labels: none

fix: add react-markdown ml-131
  apps/frontend/.env.example
  apps/frontend/package.json
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/plugins/plugins.ts
  apps/frontend/src/modules/meeting-details/libs/default-values/meeting-details.default-values.ts
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  apps/frontend/src/modules/meeting-details/slices/actions.ts
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/minutes-in-hour.ts
  packages/shared/src/libs/constants/zero-length.constant.ts
  packages/shared/src/libs/helpers/get-offset-hours/get-offset-hours.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/search-input-validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: root, shared, env

refactor(frontend): improve css ml-154
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/meeting-creation-modal.tsx
  apps/frontend/src/pages/meetings/components/meeting-creation-modal/styles.module.css
  apps/frontend/src/pages/meetings/styles.module.css
Labels: none

fix: update package-lock ml-131
  package-lock.json
Labels: root

chore(frontend): refresh dependencies ml-155
  package-lock.json
Labels: root

fix(frontend): change color for navlink accordanly figma ml-154
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
Labels: none

fix(frontend): prevent blinking hover effect on meeting item ml-154
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: none

refactor: changed names of variables, add landing-anchor ml-59
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/enums/dom-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/landing-anchor.enum.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/pages/landing/components/landing-cta/landing-cta.tsx
  apps/frontend/src/pages/landing/components/landing-cta/styles.module.css
  apps/frontend/src/pages/landing/components/landing-features/styles.module.css
  apps/frontend/src/pages/landing/components/landing-footer/styles.module.css
  apps/frontend/src/pages/landing/components/landing-hero/landing-hero.tsx
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/styles.module.css
  apps/frontend/src/pages/landing/constants/company-links.constants.ts
  apps/frontend/src/pages/landing/constants/header-links.constants.ts
Labels: none

fix: change project versions ml-131
  package-lock.json
Labels: root

refactor: changed names of const, functions ml-59
  apps/frontend/src/libs/helpers/physics.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/use-carousel/use-carousel.hook.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/types/landing-background.type.ts
Labels: none

refactor: moved animate, inView moved to helpers ml-59
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
Labels: none

fix: add plugin ml-131
  apps/frontend/package.json
  apps/frontend/src/libs/plugins/plugins.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root

refactor: moved const, types to modules/landing/libs ml-59
  apps/frontend/src/libs/helpers/physics.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/modules/landing/libs/constants/company-links.constants.ts
  apps/frontend/src/modules/landing/libs/constants/constants.ts
  apps/frontend/src/modules/landing/libs/constants/contact-links.constants.ts
  apps/frontend/src/modules/landing/libs/constants/feature-data.constants.ts
  apps/frontend/src/modules/landing/libs/constants/header-links.constants.ts
  apps/frontend/src/modules/landing/libs/constants/landing-background.constants.ts
  apps/frontend/src/modules/landing/libs/constants/testimonial-items.constants.ts
  apps/frontend/src/modules/landing/libs/types/feature.type.ts
  apps/frontend/src/modules/landing/libs/types/landing-background.type.ts
  apps/frontend/src/modules/landing/libs/types/link-group.type.ts
  apps/frontend/src/modules/landing/libs/types/nav-link.type.ts
  apps/frontend/src/modules/landing/libs/types/testimonial.type.ts
  apps/frontend/src/modules/landing/libs/types/types.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial-card.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
  apps/frontend/src/pages/landing/types/link-group.type.ts
Labels: none

refactor: add file landing.ts in modules/landing and changed imports ml-59
  apps/frontend/src/libs/helpers/physics.helper.ts
  apps/frontend/src/libs/helpers/rings.helper.ts
  apps/frontend/src/libs/hooks/use-landing-background-animation/use-landing-background-animation.hook.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/constants/header-links.constants.ts
  apps/frontend/src/pages/landing/components/landing-background/landing-background.tsx
  apps/frontend/src/pages/landing/components/landing-features/feature-item.tsx
  apps/frontend/src/pages/landing/components/landing-features/landing-features.tsx
  apps/frontend/src/pages/landing/components/landing-footer/footer-column.tsx
  apps/frontend/src/pages/landing/components/landing-footer/landing-footer.tsx
  apps/frontend/src/pages/landing/components/landing-header/landing-header.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial-card.tsx
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: none

feat: add meetings audio table migration ml-132
  apps/backend/src/db/migrations/20250809172110_add_meeting_audio_table.ts
Labels: none

refactor: separet helpers ml-59
  apps/frontend/src/libs/helpers/clamp.helper.ts
  apps/frontend/src/libs/helpers/handle-bounds.helper.ts
  apps/frontend/src/libs/helpers/handle-collisions.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
Labels: none

feat: add CRUD for meeting audio and socket handling in backend ml-132
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/socket/base-socket.module.ts
  apps/backend/src/libs/modules/socket/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/exceptions/exceptions.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meeting-audio.entity.ts
  apps/backend/src/modules/meetings/meeting-audio.model.ts
  apps/backend/src/modules/meetings/meeting-audio.repository.ts
  apps/backend/src/modules/meetings/meeting-audio.service.ts
  apps/backend/src/modules/meetings/meeting-audio.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/meeting-audio-error/meeting-audio.error.ts
  packages/shared/src/libs/exceptions/meetings-transcription-error/meetings-transcription.error.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-event.enum.ts
  packages/shared/src/libs/modules/socket/libs/enums/socket-messages.enum.ts
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-audio-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-transcription-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-get-all-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-audio-rsponse-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/meeting-update-audio-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-audio/types.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

feat: add audio:save emit for socket ml-132
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/s3/base-s3.module.ts
  apps/bot/src/libs/modules/s3/libs/types/upload-result.type.ts
  apps/bot/src/libs/modules/socket-client/libs/types/client-to-server-events.type.ts
  apps/bot/src/libs/types/types.ts
Labels: none
