Repository BinaryStudioAcademy/bsa-2025-meetlytic, changes with the labels that .github/labeler.yml gives for each.
All labels: root, workflows, shared, env, config

.github/labeler.yml:

root:
  - changed-files:
      - any-glob-to-any-file: "*"

workflows:
  - changed-files:
      - any-glob-to-any-file:
          - ".github/**/*"

shared:
  - changed-files:
      - any-glob-to-any-file:
          - "packages/shared/**/*"

backend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/backend/**/*"
          - "!apps/backend/.env.example"

frontend:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/frontend/**/*"
          - "!apps/frontend/.env.example"

bot:
  - changed-files:
      - all-globs-to-any-file:
          - "apps/bot/**/*"
          - "!apps/bot/.env.example"

env:
  - changed-files:
      - any-glob-to-any-file:
          - "apps/backend/.env.example"
          - "apps/frontend/.env.example"
          - "apps/bot/.env.example"

config:
  - changed-files:
      - any-glob-to-any-file:
          - ".platform/**/*"

fix: remove "+igndts" in audio recorder module ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

feat(shared): add common constant file ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/common-values.ts
  packages/shared/src/libs/constants/constants.ts
Labels: shared

fix: make run bot endless ml-44
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(frontend): add audio event enum ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/enums/audio-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
Labels: none

refactor(frontend): rename togglePlayback ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: none

fix: audio recorder args ml-44
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
Labels: none

fix: bot run endless for now ml-44
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix: add comments in setup-ec2.sh ml-44
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

feat(bot): add summary/action items generation ml-130
  apps/bot/.env.example
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  package-lock.json
Labels: root, env

feat: add bot-instruction.md except Instruction to launch ml-44
  apps/bot/bot-instruction.md
Labels: none

feat(backend): add summary/action items columns ml-130
  apps/backend/src/db/migrations/20250808141301_add_meetings_summary_and_action_items.ts
Labels: none

feat: switch clone branch to main ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
Labels: none

feat: add permissions for node modules nad switch branch to 44 ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
Labels: none

fix: fix return to bot folder step ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix: fix permission section ml-44
  apps/bot/setup-ec2.sh
Labels: none

fix(bot): variables naming issue ml-13
  apps/bot/.env.example
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
Labels: env

feat(bot): add more context to prompts ml-130
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: none

feat: add summary/action items generation ml-130 (#147)
  apps/backend/src/db/migrations/20250808141301_add_meetings_summary_and_action_items.ts
  apps/bot/.env.example
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  package-lock.json
Labels: root, env

fix(backend): convert email to lowercase automatically ml-149
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

refactor(frontend): rename LOADEDMETADATA to LOADED_METADATA ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/enums/audio-event.enum.ts
Labels: none

refactor(shared): adjust import for shared components ml-62
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/common-values.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/constants/percent-multiplier.constant.ts
  packages/shared/src/libs/constants/start-time.constant.ts
Labels: shared

refactor(frontend): change loader ml-57
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/circular-progress.tsx
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/styles.module.css
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/progress-config.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: none

feat: throw env variables through backend in template ml-44
  apps/backend/.env.example
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
Labels: env

feat: add transcribe method in audio recording module ml-44
  apps/bot/.env.example
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-events.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
Labels: env

fix(backend): convert email to lowercase automatically ml-149 (#150)
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

refactor: update audio-recorder-event ml-44
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-event.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-events.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
Labels: none

feat: add audio recording from ec2 ml-44 (#103)
  .gitignore
  CHANGELOG.md
  apps/backend/.env.example
  apps/backend/CHANGELOG.md
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/.env.example
  apps/bot/bot-instruction.md
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-event.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/open-ai.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/types.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  apps/frontend/CHANGELOG.md
  packages/shared/CHANGELOG.md
Labels: root, shared, env

refactor: rename ZoomBot to BaseZoomBot ml-148
  apps/bot/src/libs/modules/zoom/libs/types/types.ts
  apps/bot/src/libs/modules/zoom/libs/types/zoom-bote.type.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
Labels: none

feat(bot): create new message, label, constant ml-148
  apps/bot/src/libs/constants/timeouts.constants.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
Labels: none

feat(bot): add ability to enter passcode ml-148
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: none

fix(backend): add meeting id to create instance ml-148
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/modules/meetings/meetings.service.ts
Labels: none

feat: create settings type ml-148
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/types.ts
Labels: none

refactor(backend): delete quotes in config ml-148
  apps/backend/src/libs/modules/config/base-config.module.ts
Labels: none

feat(backend): add shared jwt token ml-143
  apps/backend/.env.example
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/libs/types/shared-jwt-payload.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
Labels: env

feat(backend, shared): add shared url generation endpoint ml-143
  apps/backend/src/modules/meetings/libs/types/get-public-url-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-public-url-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: shared

fix(backend): linting errors ml-143
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
Labels: none

fix(backend): missing env variable type ml-143
  apps/backend/src/libs/modules/config/base-config.module.ts
Labels: none

refactor(backend): add settings ml-148
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/bot/setup-ec2.sh
Labels: none

feat(backend): add helper get meeting id form link ml-148
  apps/backend/src/modules/meetings/libs/helpers/extract-zoom-meeting-id.helper.ts
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
Labels: none

fix(backend): add logic to get id from link ml-148
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: shared
