Repository BinaryStudioAcademy/bsa-2025-meetlytic, pull requests merged in 2025-07, with the labels that each got.

#2 feat: update starter ml-1
  .github/CODEOWNERS
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/frontend/index.html
  readme.md
Labels: root, workflows, backend, frontend

#18 feat: add authorization token ml-9
  apps/backend/.env.example
  apps/backend/package.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/backend/src/libs/modules/token/base-token.module.ts
  apps/backend/src/libs/modules/token/libs/types/jwt-payload.type.ts
  apps/backend/src/libs/modules/token/libs/types/types.ts
  apps/backend/src/libs/modules/token/token.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/auth/auth.service.ts
  apps/backend/src/modules/users/libs/types/types.ts
  apps/backend/src/modules/users/user.service.ts
  apps/backend/src/modules/users/users.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/auth-response-dto.type.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-response-dto.type.ts
  packages/shared/src/modules/users/users.ts
Labels: root, backend, env, shared

#38 feat: add shared styles ml-33
  apps/frontend/src/assets/css/scaffolding.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/css/variables.css
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
Labels: frontend, shared

#42 feat: add header component ml-16
  apps/frontend/src/assets/img/icons/placeholder-avatar.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/avatar/avatar.tsx
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/link/link.tsx
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/hidden-header-routes.constant.ts
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/libs/enums/avatar-type.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/libs/enums/logo-theme.enum.ts
Labels: frontend

#19 feat: add get authenticated user ml-15
  apps/backend/src/libs/modules/controller/libs/types/api-handler-options.type.ts
  apps/backend/src/modules/auth/auth.controller.ts
  apps/backend/src/modules/users/users.ts
  packages/shared/src/modules/auth/libs/enums/auth-api-path.enum.ts
Labels: backend, shared

#47 feat: add reusable button component ml-39
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/button/button.tsx
  apps/frontend/src/libs/components/button/styles.module.css
  apps/frontend/src/libs/enums/button-size.enum.ts
  apps/frontend/src/libs/enums/button-variant.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/types/button-size.type.ts
  apps/frontend/src/libs/types/button-variant.type.ts
  apps/frontend/src/libs/types/types.ts
Labels: frontend

#54 feat: get authenticated user ml-12
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users.ts
Labels: frontend

#66 feat: add bot app ml-32
  .github/labeler.yml
  .ls-lint.yml
  apps/bot/.env.example
  apps/bot/eslint.config.js
  apps/bot/lint-staged.config.js
  apps/bot/package.json
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/config.ts
  apps/bot/src/libs/modules/config/libs/types/config.type.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/config/libs/types/types.ts
  apps/bot/src/libs/types/types.ts
  apps/bot/src/puppeteer.ts
  apps/bot/tsconfig.build.json
  apps/bot/tsconfig.json
  knip.config.ts
  package-lock.json
  package.json
  project.config.ts
  readme.md
Labels: root, workflows, env, bot

#50 feat: create reusable input component ml-40
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/components/input/styles.module.css
  apps/frontend/src/libs/components/logo/styles.module.css
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/libs/enums/avatar-type.enum.ts
  apps/frontend/src/libs/enums/logo-size.enum.ts
  apps/frontend/src/libs/enums/logo-theme.enum.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#69 fix: create reusable input component ml-40
  apps/frontend/src/libs/components/input/input.tsx
Labels: bug, frontend

#55 feat: add sign up ml-8
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/libs/types/types.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/auth-layout/auth-layout.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/libs/constants.ts
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-request-dto.type.ts
  packages/shared/src/modules/users/libs/types/user-sign-up-response-dto.type.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: enhancement, frontend, shared

#48 feat: add sign in form ml-6
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/auth/auth.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/modules/auth/slices/auth.slice.ts
  apps/frontend/src/modules/auth/slices/auth.ts
  apps/frontend/src/modules/users/libs/default-values/sign-in.default-values.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/users/users.ts
  apps/frontend/src/pages/auth/auth.tsx
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: frontend

#46 feat: create meetings ml-29
  apps/backend/src/db/migrations/20240127205706_add_meetings_table.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/libs/constants/repository.constant.ts
  apps/backend/src/libs/hooks/hooks.ts
  apps/backend/src/libs/hooks/libs/types/meeting-owner.type.ts
  apps/backend/src/libs/hooks/libs/types/types.ts
  apps/backend/src/libs/hooks/meeting-owner.hook.ts
  apps/backend/src/libs/modules/controller/base-controller.module.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/database/libs/enums/database-table-name.enum.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/server-application.ts
  apps/backend/src/libs/types/service.type.ts
  apps/backend/src/modules/meetings/libs/enums/enums.ts
  apps/backend/src/modules/meetings/libs/exceptions/exceptions.ts
  apps/backend/src/modules/meetings/libs/types/create-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/delete-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-all-options.type.ts
  apps/backend/src/modules/meetings/libs/types/find-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/libs/types/update-meeting-options.type.ts
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/backend/src/modules/meetings/meetings.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/exceptions/exceptions.ts
  packages/shared/src/libs/exceptions/meetings-error/meeting.error.ts
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/modules/meetings/libs/enums/enums.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-status.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-host.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-get-all-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-update-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/types.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-update.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: backend, shared

#71 feat: add Layout component ml-60
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/hidden-header-routes.constant.ts
Labels: frontend

#68 feat: add not found page ml-52
  apps/frontend/src/assets/img/404.png
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/pages/not-found/not-found.tsx
  apps/frontend/src/pages/not-found/styles.module.css
Labels: frontend

#82 feat: add custom template for issues on github ml-99999
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: workflows

#80 fix: allow access to Swagger UI ml-72
  apps/backend/src/libs/constants/white-routes.constant.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
Labels: backend
