Repository BinaryStudioAcademy/bsa-2025-meetlytic, pull requests merged in 2025-08, with the labels that each got.

#91 fix: error message Invalid credentials is shown on home page after successful login ml-84
  apps/frontend/src/modules/users/users-api.ts
Labels: bug, frontend

#89 fix: bug User Missing in mapRequest Function in base-controller.module ml-88
  apps/backend/src/libs/modules/controller/base-controller.module.ts
Labels: bug, backend

#95 feat: add new fields to meeting entity ml-29
  apps/backend/src/db/migrations/20240127205707_add_meeting_id_and_password_to_meetings.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
Labels: backend, shared

#92 fix: update toaster message to be more user-friendly ml-85
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/notification-massage.enum.ts
  apps/frontend/src/libs/helpers/extract-error-message.helper.ts
  apps/frontend/src/libs/helpers/helpers.ts
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
  apps/frontend/src/modules/auth/slices/actions.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
Labels: frontend

#93 fix: yaml semantic error in meetings.controller.ts ml-86
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
Labels: backend

#87 refactor: delete unused code ml-64
  apps/frontend/src/assets/img/react.svg
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/modules/store/store.module.ts
  apps/frontend/src/modules/users/libs/enums/enums.ts
  apps/frontend/src/modules/users/libs/types/types.ts
  apps/frontend/src/modules/users/slices/actions.ts
  apps/frontend/src/modules/users/slices/users.slice.ts
  apps/frontend/src/modules/users/slices/users.ts
  apps/frontend/src/modules/users/users-api.ts
  apps/frontend/src/modules/users/users.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/types/types.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared

#98 feat: add OpenAI integration ml-45
  apps/backend/package.json
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/logger/base-logger.module.ts
  apps/bot/src/libs/modules/logger/libs/types/logger.type.ts
  apps/bot/src/libs/modules/logger/libs/types/types.ts
  apps/bot/src/libs/modules/logger/logger.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/puppeteer.ts
  package-lock.json
Labels: root, backend, env, bot

#109 feat: feat add password range validation ml-104
  apps/frontend/src/libs/components/input/input.tsx
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  packages/shared/src/index.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/users.ts
Labels: frontend, shared

#111 fix: add status code if exist ml-96
  apps/backend/src/libs/modules/server-application/base-server-application.ts
Labels: bug, backend

#114 docs: add sign up 422 error ml-78
  apps/backend/src/modules/auth/auth.controller.ts
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: documentation, enhancement, backend, shared

#119 feat: add first and last name validation in SignUp form ml-105
  packages/shared/src/modules/users/libs/enums/user-validation-message.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: shared

#83 fix: trim spaces in email before storing ml-74
  apps/backend/package.json
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  package-lock.json
Labels: root, backend, conflicts

#79 feat: add continuous delivery ml-3
  .github/workflows/cd.yml
  .release-please-manifest.json
  apps/backend/src/libs/modules/database/base-database.module.ts
  apps/backend/src/libs/modules/server-application/base-server-application-api.ts
  apps/backend/src/libs/modules/server-application/base-server-application.ts
  apps/backend/src/libs/plugins/authorization/authorization.plugin.ts
  apps/bot/package.json
  dangerfile.ts
  eslint.config.js
  knip.config.ts
  package-lock.json
  package.json
  packages/shared/package.json
  packages/shared/src/libs/enums/app-environment.enum.ts
  prepare-build.sh
  project.config.ts
  release-please-config.json
  stylelint.config.js
Labels: root, workflows, backend, shared, bot

#125 fix: add hide-show icon ml-120
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
Labels: frontend

#124 refactor(shared): convert HTTP methods type to enum ml-61
  apps/backend/src/libs/constants/libs/types/white-route.type.ts
  apps/backend/src/libs/modules/controller/libs/types/controller-route-parameters.type.ts
  apps/backend/src/libs/modules/http/http.ts
  apps/backend/src/libs/modules/http/libs/enums/enums.ts
  apps/backend/src/libs/modules/http/libs/types/types.ts
  apps/backend/src/libs/modules/server-application/libs/types/server-application-route-parameters.type.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/modules/http/http.ts
  packages/shared/src/libs/modules/http/libs/enums/enums.ts
  packages/shared/src/libs/modules/http/libs/enums/http-method.enum.ts
  packages/shared/src/libs/modules/http/libs/types/http-method.type.ts
  packages/shared/src/libs/modules/http/libs/types/http-options.type.ts
  packages/shared/src/libs/modules/http/libs/types/types.ts
Labels: backend, shared

#127 fix: change the order in which password status icons are displayed ml-99
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
Labels: frontend

#137 fix: Sign In/Sign Up UI consistency ml-134
  apps/frontend/src/pages/auth/components/sign-in-form/sign-in-form.tsx
  apps/frontend/src/pages/auth/components/sign-in-form/styles.module.css
  apps/frontend/src/pages/auth/components/sign-up-form/sign-up-form.tsx
  apps/frontend/src/pages/auth/components/sign-up-form/styles.module.css
  package-lock.json
Labels: root, frontend

#138 fix: make logo size adaptive and visually balanced on all screens ml-121
  apps/frontend/src/libs/components/logo/styles.module.css
Labels: frontend

#141 feat: add database schema ml-4
  readme.md
Labels: root

#147 feat: add summary/action items generation ml-130
  apps/backend/src/db/migrations/20250808141301_add_meetings_summary_and_action_items.ts
  apps/bot/.env.example
  apps/bot/src/libs/constants/constants.ts
  apps/bot/src/libs/constants/open-ai.constants.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/base-open-ai.module.ts
  package-lock.json
Labels: root, backend, env, bot

#150 fix: convert email to lowercase automatically ml-149
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-in.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
Labels: bug, shared

#103 feat: add audio recording from ec2 ml-44
  .gitignore
  CHANGELOG.md
  apps/backend/.env.example
  apps/backend/CHANGELOG.md
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/.env.example
  apps/bot/bot-instruction.md
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/modules/audio-recorder/audio-recorder.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-recorder-event.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder-options.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/audio-recorder.type.ts
  apps/bot/src/libs/modules/audio-recorder/libs/types/types.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/open-ai.type.ts
  apps/bot/src/libs/modules/open-ai/libs/types/types.ts
  apps/bot/src/libs/modules/open-ai/open-ai.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/bot/src/libs/types/types.ts
  apps/frontend/CHANGELOG.md
  packages/shared/CHANGELOG.md
Labels: root, backend, frontend, env, shared, bot

#135 feat: create player track component ml-62
  apps/backend/package.json
  apps/frontend/src/assets/img/icons/pause.svg
  apps/frontend/src/assets/img/icons/play.svg
  apps/frontend/src/index.tsx
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/player-track/player-track.tsx
  apps/frontend/src/libs/components/player-track/styles.module.css
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/enums/app-route.enum.ts
  apps/frontend/src/libs/enums/audio-event.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/keyboard-key.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/milliseconds-in-second.constant.ts
  packages/shared/src/libs/constants/percent-multiplier.constant.ts
  packages/shared/src/libs/constants/start-time.constant.ts
  packages/shared/src/libs/enums/api-path.enum.ts
  packages/shared/src/libs/types/date-format.type.ts
Labels: root, backend, frontend, shared

#151 refactor: change loader according to the layout ml-57
  apps/frontend/src/libs/components/app/app.tsx
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/circular-progress.tsx
  apps/frontend/src/libs/components/loader/libs/comnponents/circular-progress/styles.module.css
  apps/frontend/src/libs/components/loader/loader.tsx
  apps/frontend/src/libs/components/loader/styles.module.css
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/loader-icon-config.enum.ts
  apps/frontend/src/libs/enums/loader-progress-config.enum.ts
  apps/frontend/src/libs/hooks/hooks.ts
  apps/frontend/src/libs/hooks/use-progress/use-progress.ts
Labels: frontend

#165 fix: bot fails to join zoom meeting ml-148
  apps/backend/src/libs/modules/cloud-formation/base-cloud-formation.module.ts
  apps/backend/src/libs/modules/cloud-formation/cloud-formation.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameters-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/backend/src/libs/modules/cloud-formation/libs/type/create-stack.types.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/settings.type.ts
  apps/backend/src/libs/modules/cloud-formation/libs/type/types.ts
  apps/backend/src/libs/modules/config/base-config.module.ts
  apps/backend/src/modules/meetings/libs/helpers/helpers.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/bot/.env.example
  apps/bot/package.json
  apps/bot/setup-ec2.sh
  apps/bot/src/index.ts
  apps/bot/src/libs/constants/timeouts.constants.ts
  apps/bot/src/libs/enums/enums.ts
  apps/bot/src/libs/enums/zoom-bot-messages.enum.ts
  apps/bot/src/libs/enums/zoom-ui-label.enum.ts
  apps/bot/src/libs/helpers/build-query-parameters.helper.ts
  apps/bot/src/libs/helpers/helpers.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/config/base-config.module.ts
  apps/bot/src/libs/modules/config/libs/types/environment-schema.type.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/bot/src/libs/modules/zoom/zoom-bot.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  package-lock.json
  packages/shared/src/index.ts
  packages/shared/src/libs/enums/enums.ts
  packages/shared/src/libs/enums/keyboard-key.enum.ts
  packages/shared/src/libs/helpers/extract-zoom-meeting-id/extract-zoom-meeting-id.helper.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/validate-zoom-link.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: bug, root, backend, frontend, env, shared, bot

#184 feat: end meeting recording from the frontend ml-160
  apps/backend/src/modules/meetings/libs/types/stop-recording-options.type.ts
  apps/backend/src/modules/meetings/libs/types/types.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/modules/api/base-http-api.ts
  apps/frontend/src/libs/modules/api/libs/types/http-api-options.type.ts
  apps/frontend/src/modules/auth/auth-api.ts
  apps/frontend/src/modules/meeting/meeting-api.ts
  apps/frontend/src/modules/meeting/slices/actions.ts
  apps/frontend/src/modules/meeting/slices/meeting.ts
  apps/frontend/src/modules/users/users.api.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  packages/shared/src/libs/modules/http/libs/enums/http-code.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meetings-api-path.enum.ts
Labels: backend, frontend, shared

#195 fix: first and last names blank fields ml-193
  apps/backend/src/modules/users/user.service.ts
Labels: backend

#181 feat: add layout component mobile responsiveness ml-155
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/assets/img/icons/burger-menu.svg
  apps/frontend/src/assets/img/icons/close-icon.svg
  apps/frontend/src/assets/img/logo/meetlytic-logo-mobile.svg
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/libs/components/header/header.tsx
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/icon/libs/maps/icon-name-to-svg.map.ts
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/mobile-menu.tsx
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/logo/logo.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/navigation-link.tsx
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/navigation/navigation.tsx
  apps/frontend/src/libs/enums/avatar-size.enum.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/logo-type.enum.ts
  apps/frontend/src/libs/types/icon-name.type.ts
  package-lock.json
Labels: root, frontend

#201 fix: first and last names validation rules ml-194
  packages/shared/src/modules/users/libs/enums/user-validation-rule.enum.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-sign-up.validation-schema.ts
  packages/shared/src/modules/users/libs/validation-schemas/user-update.validation-schema.ts
Labels: shared

#233 fix: allow reconnection zoom meeting ml-230
  apps/backend/src/db/migrations/20250818155647_remove_meeting_id_unique_index.ts
  apps/backend/src/libs/constants/constants.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  packages/shared/src/index.ts
  packages/shared/src/libs/constants/constants.ts
  packages/shared/src/libs/constants/empty-array-length.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
Labels: bug, backend, shared

#234 fix: change error code for delete and get meeting ml-222
  apps/backend/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-error-message.enum.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-id.validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: bug, backend, shared

#252 fix: copy public meeting link ml-244
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
Labels: frontend

#254 fix: invalid or expired token check ml-174
  apps/frontend/src/libs/components/router-provider/protected-route.tsx
  apps/frontend/src/libs/modules/middlewares/error-listener.middleware.ts
Labels: frontend

#259 feat: mobile responsive for meetings details and transcription ml-156
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: frontend

#251 fix: fix audio chunking logic to avoid missing words ml-232
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/package.json
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/audio-file-type.enum.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/enums.ts
  apps/bot/src/libs/modules/audio-recorder/libs/enums/watcher-event.enum.ts
  package-lock.json
Labels: root, backend, bot, mvp

#269 fix: bot unable to select the leave button ml-265
  apps/bot/src/libs/enums/zoom-bot-message.enum.ts
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: bot, mvp

#260 fix: error message deleting meeting ml-258
  apps/frontend/src/modules/meeting/slices/actions.ts
Labels: frontend

#276 feat: add bg for meeting cards ml-207
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-blue.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-green.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-orange.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-purple.svg
  apps/frontend/src/assets/img/meetings/placeholders/placeholder-teal.svg
  apps/frontend/src/modules/meeting/meeting.ts
  apps/frontend/src/modules/meeting/placeholders.ts
  apps/frontend/src/pages/meetings/components/meeting-item/meeting-item.tsx
Labels: enhancement, frontend

#290 fix: prevent stale meeting error by clearing state on unmount ml-274
  apps/frontend/src/modules/meeting-details/slices/meeting-details.slice.ts
  apps/frontend/src/modules/transcription/slices/transcription.slice.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
Labels: bug, frontend

#294 fix: prevent react-pdf error when switching meeting cards ml-281
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: bug, root, frontend

#299 feat: auto scrolling on meeting detail page creates navigation issue after recording ml-287
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meeting-details/styles.module.css
Labels: enhancement, frontend

#315 fix: add sort logic to meetings page by created at sorted order desc ml-303
  apps/backend/src/modules/meetings/libs/enums/meeting-attributes.enum.ts
  apps/backend/src/modules/meetings/meetings.repository.ts
Labels: backend

#323 fix: add log for ffmpeg and cpu-memory ml-305
  apps/bot/src/index.ts
  apps/bot/src/libs/modules/audio-recorder/base-audio-recorder.module.ts
  apps/bot/src/libs/modules/system-monitor/system-monitor.ts
Labels: bot

#324 feat: added hasOverlay to Loader to profile ml-202
  apps/frontend/src/pages/profile/profile.tsx
Labels: frontend

#288 feat: add meeting card naming ml-206
  apps/backend/src/db/migrations/20250822025301_add_meetings_title.ts
  apps/backend/src/modules/meetings/meetings.controller.ts
  apps/backend/src/modules/meetings/meetings.entity.ts
  apps/backend/src/modules/meetings/meetings.model.ts
  apps/backend/src/modules/meetings/meetings.service.ts
  apps/frontend/src/libs/components/meeting-form/meeting-form.tsx
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/create-meeting-form.constant.ts
  apps/frontend/src/libs/types/meeting-pdf-properties.type.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  apps/frontend/src/pages/meetings/meetings.tsx
  package-lock.json
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-message.enum.ts
  packages/shared/src/modules/meetings/libs/enums/meeting-validation-rule.enum.ts
  packages/shared/src/modules/meetings/libs/types/meeting-create-request-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-detailed-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/types/meeting-response-dto.type.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/meeting-create.validation-schema.ts
Labels: enhancement, root, backend, frontend, shared

#334 fix(backend): rename files to match the quality criteria ml-333
  apps/backend/src/libs/modules/cloud-formation/libs/enums/enums.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/parameter-key.enum.ts
  apps/backend/src/libs/modules/cloud-formation/libs/enums/stack-prefix.enum.ts
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/create-meeting-form-default-values.constant.ts
  apps/frontend/src/libs/enums/enums.ts
  apps/frontend/src/libs/enums/input-password-type.enum.ts
  packages/shared/src/libs/helpers/helpers.ts
  packages/shared/src/libs/helpers/validate-zoom-link/is-zoom-link.helper.ts
Labels: backend, frontend, shared

#296 fix: changed rings animation and add swipe for testimonials on mobile ml-293
  apps/frontend/src/libs/enums/landing-testimonial.enum.ts
  apps/frontend/src/modules/landing/landing.ts
  apps/frontend/src/modules/landing/libs/enums/enums.ts
  apps/frontend/src/modules/landing/libs/helpers/rings.helper.ts
  apps/frontend/src/pages/landing/components/landing-hero/styles.module.css
  apps/frontend/src/pages/landing/components/landing-testimonial/landing-testimonial.tsx
Labels: frontend

#322 feat: simplify action items ml-300
  apps/bot/src/libs/constants/open-ai.constants.ts
Labels: bot

#326 feat: add mobile responsiveness for the profile page ml-286
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
  apps/frontend/src/pages/profile/components/profile-form/profile-form.tsx
  apps/frontend/src/pages/profile/components/profile-form/styles.module.css
  apps/frontend/src/pages/profile/styles.module.css
Labels: frontend

#331 fix: updated email meetings refresh ml-302
  apps/frontend/src/modules/auth/slices/auth.slice.ts
Labels: bug, frontend

#327 feat: update navigation item icons visibility and font loading ml-188
  apps/frontend/src/assets/css/fonts.css
  apps/frontend/src/assets/css/styles.css
  apps/frontend/src/assets/fonts/inter/Inter-SemiBold.woff2
  apps/frontend/src/assets/fonts/inter/inter-bold.woff2
  apps/frontend/src/assets/fonts/inter/inter-medium.woff2
  apps/frontend/src/assets/fonts/inter/inter-regular.woff2
  apps/frontend/src/assets/fonts/nunitos/Nunito-SemiBold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-bold.woff2
  apps/frontend/src/assets/fonts/nunitos/nunito-regular.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Bold.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Medium.woff2
  apps/frontend/src/assets/fonts/plus-jakarta-sans/PlusJakartaSans-Regular.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-bold.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-medium.woff2
  apps/frontend/src/assets/fonts/roboto/roboto-regular.woff2
  apps/frontend/src/libs/components/navigation/libs/components/navigation-link/styles.module.css
  apps/frontend/src/libs/components/sidebar/styles.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
Labels: enhancement, frontend

#336 feat: export button should be disabled during live transcription ml-330
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: root, frontend

#346 fix: fixed header elements ml-345
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/header/styles.module.css
  apps/frontend/src/libs/components/layout/libs/components/mobile-menu/styles.module.css
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: enhancement, frontend

#328 fix: convert markdown to styles for pdf export ml-301
  apps/frontend/package.json
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-markdown.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/components/render-node.tsx
  apps/frontend/src/libs/components/meeting-pdf/libs/helpers/parse-markdown.ts
  apps/frontend/src/libs/components/meeting-pdf/libs/styles/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.styles.ts
  apps/frontend/src/libs/components/meeting-pdf/meeting-pdf.tsx
  apps/frontend/src/libs/constants/constants.ts
  apps/frontend/src/libs/constants/heading-level-primary.ts
  apps/frontend/src/libs/types/types.ts
  apps/frontend/src/pages/meeting-details/meeting-details.tsx
  package-lock.json
Labels: bug, root, frontend

#348 fix: rollback layout changes ml-347
  apps/frontend/src/libs/components/layout/layout.tsx
  apps/frontend/src/libs/components/layout/styles.module.css
Labels: frontend

#352 fix: order newly created meeting ml-329
  apps/frontend/src/modules/meeting/slices/meeting.slice.ts
Labels: bug, frontend

#360 fix: bot not sending public link in chat ml-356
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
Labels: bug, bot

#369 fix: public url access triggers 401 errors and “Invalid credentials” toast ml-363
  apps/frontend/src/libs/components/header/header.tsx
Labels: bug, frontend

#370 fix: add swap file 4gb and optimize puppeteer launch options ml-305
  apps/backend/src/libs/modules/cloud-formation/libs/templates/ec2-instance-template.json
  apps/bot/setup-ec2.sh
  apps/bot/src/libs/modules/config/base-config.module.ts
Labels: backend, bot

#372 fix: removed searchbar ml-350
  apps/frontend/src/libs/components/components.ts
  apps/frontend/src/libs/components/search-bar/libs/constants/constants.ts
  apps/frontend/src/libs/components/search-bar/search-bar.module.css
  apps/frontend/src/libs/components/search-bar/search-bar.tsx
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/modules/meeting-details/libs/validation-schemas/validation-schemas.ts
  apps/frontend/src/modules/meeting-details/meeting-details.ts
  packages/shared/src/index.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/search-input-validation-schema.ts
  packages/shared/src/modules/meetings/libs/validation-schemas/validation-schemas.ts
  packages/shared/src/modules/meetings/meetings.ts
Labels: frontend, shared

#375 fix: signup-mobile-firefpx ml-374
  apps/frontend/src/pages/auth/components/auth-layout/styles.module.css
Labels: bug, frontend

#377 fix: transcription animation not working ml-357
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.module.css
  apps/frontend/src/libs/components/transcription-panel/transcription-panel.tsx
  apps/frontend/src/libs/constants/type-speed.constant.ts
  apps/frontend/src/libs/hooks/use-auto-scroll/use-auto-scroll.ts
  apps/frontend/src/libs/hooks/use-typing-queue/use-typing-queue.ts
Labels: bug, frontend, mvp

#379 feat: add mobile responsive for meeting status indicator ml-282
  apps/bot/src/libs/modules/zoom/base-zoom-bot.ts
  apps/frontend/src/assets/css/variables.css
  apps/frontend/src/libs/components/meeting-status-badge/styles.module.css
Labels: frontend, bot

#380 fix: uploaded avatars appear stretched or distorted ml-371
  apps/frontend/src/libs/components/avatar/styles.module.css
  apps/frontend/src/modules/users/slices/users.slice.ts
Labels: frontend, mvp

#381 fix: add focus to play button after seek ml-362
  apps/frontend/src/libs/components/player-track/player-track.tsx
Labels: bug, frontend, mvp

#388 fix: limit public layout width ml-351
  apps/frontend/src/libs/components/public-layout/public-layout.tsx
  apps/frontend/src/libs/components/public-layout/styles.module.css
Labels: bug, frontend

#391 fix: meeting buttons overlap ml-390
  apps/frontend/src/pages/meetings/components/meeting-item/styles.module.css
Labels: frontend
